@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CashierSessionDto
@{
    ViewBag.Title = "Standings";
}
@section Styles{
    <style>
        .select2-selection__rendered {
            line-height: 31px !important;
        }

        .select2-container .select2-selection--single {
            height: 35px !important;
        }

        .select2-selection__arrow {
            height: 34px !important;
        }

        .btn:hover {
            transform: translateY(-2px);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
        }

        /* Primary button (Add Item) */
        .btn-primary {
            background: linear-gradient(135deg, #6a11cb, #2575fc);
            color: white;
        }

        /* Info button (Add Transfer) */
        .btn-info {
            background: linear-gradient(135deg, #17ead9, #6078ea);
            color: white;
        }

        /* Danger button (Add Supplier) */
        .btn-danger {
            background: linear-gradient(135deg, #ff416c, #ff4b2b);
            color: white;
        }

        /* Warning button (Add Purchase Requisition) */
        .btn-warning {
            background: linear-gradient(135deg, #f9d423, #ff4e50);
            color: white;
        }

        .table-success {
            background: linear-gradient(135deg, #33ddee, #33ffdd);
        }

        /*Table*/

        .table tbody tr:hover {
            transform: translateY(-2px);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

       
        </style>
}
    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Manage Cashier Session</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">Manage Cashier Session</li>
            </ol>
        </div>

        <div class="col-md-7 col-4 align-self-center">
            <div class="d-flex m-t-10 justify-content-end">
                <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                    <div class="spark-chart form-material">
                    </div>
                    <div class="spark-chart form-material">
                        <button type="button" id="btnCreateShift" class="btn waves-effect waves-light btn-block btn-info" onclick="ShowShiftDetails()"><i class="mdi mdi-account-plus"></i>&nbsp;Add New</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Cashier Session</h4>


                    <div class="table-responsive">
                        <table id="basic-2" class="display">
                            <thead>
                                <tr>

                                    <th data-orderable="true">SNo</th>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>Start Time</th>
                                    <th>End Time</th>
                                    <th>End Balance</th>
                                    <th>Total Amount</th>
                                    <th>Variation</th>
                                    <th>Action</th>
                                    <th>Restart</th>
                                </tr>
                            </thead>
                            <tbody id="tblBodyCashierSession">
                            @foreach (var item in Model.CashierSessionDtos)
                            {
                                <tr>

                                    <td>@item.Id</td>
                                    <td>@item.FullName (@item.UserId)</td>
                                    <td>@item.cashierSessionStatus</td>
                                    <td>@item.StartingTime</td>
                                    <td>@item.EndTime</td>
                                    <td>
                                        @item.EndBalence
                                    </td>
                                    <td>
	                                    @item.TotalAmount
                                    </td>
                                    <td>
	                                    @item.Variation
                                    </td>
                                    <td>
                                        <button id='btnEdit' class='btn waves-effect waves-light btn-sm btn-info' onclick=ShowShiftDetails(@item.Id);><i class='fa fa-eye'></i></button>  &nbsp;
                                        <button id='btnDownload' class='btn waves-effect waves-light btn-sm btn-warning' onclick="PrintSummary(@item.Id)"><i class='fa-solid fa-download'></i></button>  &nbsp;
                                    </td>
                                    <td>
                                        @using (Html.BeginForm("UpdateCashierSessionStatus", "CashierSessions", new { Id = @item.Id }, FormMethod.Post))
                                        {
                                            if (item.cashierSessionStatus == HospitalMgrSystem.Model.Enums.CashierSessionStatus.END && item.userRole == HospitalMgrSystem.Model.Enums.UserRole.CASHIER && item.StartingTime.Date == DateTime.Today)
                                            {
                                                <button id='link_copy' class='btn waves-effect waves-light btn-sm btn-danger' onclick="return confirm('Are you sure you want to Restart this Session?');">
                                                    <i class='fa fa-edit'></i>
                                                </button>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="AddShiftModel" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg" id="AddEditContainerModel">
        </div>
    </div>

    <script>

    function PrintSummary(id) {
        var logoImage = new Image();
        var barcodeImage = new Image();
        var imagesLoaded = 0;


        logoImage.src = "https://kumuduhospital.com/assets/images/kumudu_logo2.jpg"; // Replace with your actual logo URL
        barcodeImage.src = "https://png.pngtree.com/png-clipart/20220424/original/pngtree-black-and-white-icons-of-barcode-numbers-png-image_7554658.png"; // Replace with your actual barcode URL

        // Callback function to check if all images are loaded
        function checkImagesLoaded() {
            imagesLoaded++;

            if (imagesLoaded === 2) { // You may need to adjust this count if you have more images
                openPrintWindow();
            }
        }

        // Set the load event listeners for the images
        logoImage.onload = checkImagesLoaded;
        barcodeImage.onload = checkImagesLoaded;

        function openPrintWindow() {
            var sessionId = id;
            $.ajax({
                type: "POST",
                url: "/CashierSessions/DownloadCashierPayment",
                data: JSON.stringify({ sessionId: sessionId }),
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    var printWindow = window.open('', '_blank', 'width=600,height=600,location=no,menubar=no');
                    printWindow.document.open();
                    printWindow.document.write(response);
                    //printWindow.document.getElementsByTagName('body')[0].style.setProperty('width', '600px'); // Set the width as needed
                    //printWindow.document.getElementsByTagName('body')[0].style.setProperty('margin', '0'); // Remove any margins
                    printWindow.document.close();
                    printWindow.print();
                    printWindow.close();
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }

        // If the images are already cached, the load event may not fire, so check immediately
        if (logoImage.complete && barcodeImage.complete) {
            openPrintWindow();
        }
    }

        function ShowShiftDetails(id) {

            console.log(id);

            $.ajax({
                type: "POST",
                url: "/CashierSessions/CreateCashierSessionse/" + id,
                data: { id: 101 },
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $("#AddEditContainerModel").html(response);
                    $("#AddShiftModel").modal('show');
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });

        }

    function select_onchange_payments() {


        var col1 = document.getElementById("col1").value || 0;// 1
        var col2 = document.getElementById("col2").value || 0;// 2
        var col3 = document.getElementById("col3").value || 0;// 5
        var col4 = document.getElementById("col4").value || 0;// 10
        var col5 = document.getElementById("col5").value || 0;// 20
        var col6 = document.getElementById("col6").value || 0;// 50
        var col7 = document.getElementById("col7").value || 0;// 100
        var col8 = document.getElementById("col8").value || 0;// 500
        var col9 = document.getElementById("col9").value || 0;// 1000
        var col10 = document.getElementById("col10").value || 0;// 5000
        var col11 = document.getElementById("col11").value || 0;// card
        var paymentSubTotal = parseFloat(col1) * 1 + parseFloat(col2) * 2 + parseFloat(col3) * 5 + parseFloat(col4) * 10 + parseFloat(col5) * 20 + parseFloat(col6) * 50 + parseFloat(col7) * 100 + parseFloat(col8) * 500 + parseFloat(col9) * 1000 + parseFloat(col10) * 5000 + parseFloat(col11);

        document.getElementById("totalPaidAmountID").value = paymentSubTotal;
        document.getElementById("txtEndBalence").value = paymentSubTotal;
    }
    </script>