@using Microsoft.Extensions.Configuration
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ClaimBillDto;
@{
    Layout = null;
}
@inject IConfiguration Configuration

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kumudu Hospital - Invoice</title>
    @* <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" /> *@

    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .container {
            height: 297mm;
            width: 210mm;
            padding: 12px;
            padding-left: 32px;
        }

        .flex {
            display: flex;
        }

        .justify-between {
            justify-content: space-between;
        }

        img {
            max-width: 100%;
        }

        .text-4xl {
            font-size: 1.5rem;
        }

        .text-sm {
            font-size: 0.875rem;
        }

        .text-gray-400 {
            color: #718096;
        }

        .pt-16 {
            padding-top: 4rem;
        }

        .table-auto {
            width: 100%;
        }

        .border-b-2 {
            border-bottom-width: 2px;
        }

        .h-10 {
            height: 2.5rem;
        }

        .text-left {
            text-align: left;
        }

        .text-right {
            text-align: right;
        }

        .mt-5 {
            margin-top: 1.25rem;
        }

        .justify-end {
            justify-content: flex-end;
        }

        .pt-4 {
            padding-top: 1rem;
        }

        .text-xl {
            font-size: 1.25rem;
        }

        .font-bold {
            font-weight: bold;
        }

        .text-center {
            text-align: center;
        }

        .flex-row {
            flex-direction: row;
        }

        .font-normal {
            font-weight: normal;
        }
    </style>
</head>
<body>
    <div class="container h-[297mm] w-[210mm] p-12 pl-32">
        <div class="flex justify-between" style="margin: auto">
            <div style="display: flex; align-items: center">
                <img src="https://kumuduhospital.com/assets/images/kumudu_logo2.jpg" />
                <div style="padding-left: 20px; text-align: center; margin-left: 100px;">
                    <p class="pb-2 text-4xl" style="margin: auto; font-weight: bold">
                        KUMUDU HOSPITAL
                    </p>
                    <p class="text-sm text-gray-400"
                       style="margin-top: 10px; margin-bottom: auto">
                        No 48, Kandy Road, Mathale,
                    </p>
                    <p class="text-sm text-gray-400"
                       style="margin-top: 10px; margin-bottom: auto">
                        Tel: 066 22 22 2444 | 066 22 30 027
                    </p>

                    @if (Model != null)
                    {
                        <input type="hidden" id="opid" asp-for="claimBill.Id" value="@Model.claimBill.Id">
                        <p class="pb-3 text-4xl" style="margin: auto; margin-top: 5px">Invoice</p>

                        <p style="margin: auto; margin-top: 5px">@Model.dateTime</p>
                    }
                </div>
            </div>
        </div>
        <div class="flex justify-between pt-16">
            @if (Model != null)
            {
                <div>
                    <p class="font-bold" style="margin: auto; margin-top: 10px">
                        Name: <span style="font-weight: normal;">@Model.claimBill.Patient.FullName</span>
                    </p>
                    @* <p class="text-sm" style="margin: auto; margin-top: 10px">
                Patient Age: <span style="font-weight: normal;">@Model.patientAge</span>
                </p>
                <p class="text-sm" style="margin: auto; margin-top: 10px">
                Patient Sex: <span style="font-weight: normal;">@Model.patientSex</span>
                </p> *@
                    <p class="font-bold text-sm" style="margin: auto; margin-top: 10px">
                        Contact Number: <span style="font-weight: normal;">@Model.claimBill.Patient.MobileNumber</span>
                    </p>
                    <p class="font-bold text-sm" style="margin: auto; margin-top: 10px">
                        Doctor Name: <span style="font-weight: normal;">@Model.claimBill.Consultant.Name</span>
                    </p>
                    <p class="text-sm font-bold" style="margin: auto; margin-top: 10px">
                        Ref No. <span class="pl-1 font-normal">@Model.claimBill.RefNo</span>
                    </p>
                </div>
            }
        </div>

        @if (Model != null)
        {
            <div class="pt-16">
                <table class="w-full table-auto text-sm">
                    <thead class="border-b-2">
                        <tr class="h-10 text-left">
                            <th>Subtotal RS.</th>
                            <th>Discount RS.</th>
                            <th>Total Amount RS.</th>
                            <th>Cash Payment RS.</th>
                            <th class="text-right">Balance RS.</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="h-10">
                            <td>@Model.claimBill.SubTotal.ToString("0.00")</td>
                            <td>@Model.claimBill.Discount.ToString("0.00")</td>
                            <td>@Model.claimBill.TotalAmount.ToString("0.00")</td>
                            <td>@Model.claimBill.CashAmount.ToString("0.00")</td>
                            <td class="text-right font-bold">@Model.claimBill.Balance.ToString("0.00")</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="flex-row justify-end text-right pt-4">
                <div class="text-xl" style="margin-top: 200px;">____________________</div>
                <div style="margin-top: 20px; margin-right: 65px;">Signature</div>
            </div>
        }

        <p class="text-center font-bold text-xl">Thank you for your cooperation!</p>
    </div>

    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
    <script type="text/javascript">
        // Call the generateQRCode function when the page loads
        document.addEventListener("DOMContentLoaded", function () {
            generateQRCode(50);
        });

        function generateQRCode(size) {
            var preID = document.getElementById("preID").value;
            console.log("pre ID is" + preID);
            var data = preID;
            const qrcode = new QRCode(document.getElementById("qrcode"), {
                text: data,
                width: size,
                height: size,
            });
        }

        // Rest of your script...
    </script>
</body>
</html>