@using Microsoft.Extensions.Configuration
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ClaimBillDto;
@{
}
@inject IConfiguration Configuration
@section Styles {
	<style>
		.select2-selection__rendered {
			line-height: 31px !important;
		}

		.select2-container .select2-selection--single {
			height: 35px !important;
		}

		.select2-selection__arrow {
			height: 34px !important;
		}
	</style>
}

<div class="row page-titles">
	<div class="col-md-5 col-8 align-self-center">
		<h3 class="text-themecolor m-b-0 m-t-0">Create Claim Bills</h3>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
			<li class="breadcrumb-item active">Create Claim Bills</li>
		</ol>
	</div>

	<div class="col-md-7 col-4 align-self-center">
		<div class="d-flex m-t-10 justify-content-end">
			<div class="d-flex m-r-20 m-l-10 hidden-md-down">
				<div class="spark-chart form-material">
				</div>
				<div class="spark-chart form-material">
					<button type="button" id="btnCreateShift" class="btn waves-effect waves-light btn-block btn-info" onclick="ShowShiftDetails()"><i class="mdi mdi-account-plus"></i>&nbsp;Add New</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="card">
	<div class="card-body">
		<form class="pt-5" id="filterFrm">
			<!-- 2 column grid layout with text inputs for the first and last names -->
			<div class="row mb-4">
				<div class="col">
					<div data-mdb-input-init class="form-outline">
						<label class="form-label" for="refNo">Ref No</label>
						<input type="text" id="refNo" class="form-control" />
					</div>
				</div>
				<div class="col">
					<div data-mdb-input-init class="form-outline">
						<label class="form-label" for="patientName">Patient Name</label>
						<input class="form-control" type="text" id="patientName" placeholder="Patient Name" asp-for="patient!.FullName" />
					</div>
				</div>
				<div class="col">
					<div data-mdb-input-init class="form-outline">
						<label class="form-label" for="contactNumber">Contact Number</label>
						<input type="tel" id="contactNumber" class="form-control" />
					</div>
				</div>
				<div class="col">
					<div data-mdb-input-init class="form-outline">
						<label class="form-label" for="contactNumber">NIC</label>
						<input type="text" id="nic" class="form-control" />
					</div>
				</div>
			</div>


			<div class="row">
				<div class="col">
					<div data-mdb-input-init class="form-outline mb-4">
						<label class="form-label" for="doctorName">Doctor Name</label>
						@{
							<select class="form-control ddlSearchList" id="dropDoctor">
								<option value="1">Please Select</option>

								@if (Model.consultantsList != null)
								{
									foreach (var item in Model.consultantsList)
									{
										<option value="@item.Id">@item.Name</option>
									}
								}
								<option value="82">Investigation</option>
								<option value="83">X-RAY</option>
							</select>
						}
					</div>
				</div>
				
				<div class="col">
					<div data-mdb-input-init class="form-outline">
						<label class="form-label" for="contactNumber">Hospital Fee</label>
						<input type="text" id="hospitalFee" class="form-control" value="0.00" />
					</div>
				</div>
				
				<div class="col">
					<div data-mdb-input-init class="form-outline">
						<label class="form-label" for="contactNumber">Consultant Fee</label>
						<input type="text" id="consultantFee" class="form-control" value="0.00" />
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<div data-mdb-input-init class="form-group">
						<label for="scanItems">Scan Items</label>
						<div class="input-group">
							<select class="form-control ddlSearchList col-8" id="scanItems">
								<option value="0">Select Item</option>
								@foreach (var item in Model.Scans!)
								{
									<option value="@item.Id">@item.ItemName</option>
								}
							</select>
							<input type="text" class="form-control col-3 ml-2" id="scanQty" placeholder="Qty" value="1" />
							<button type="button" class="btn btn-success ml-2" onclick="addScanItem()">Add Scan</button>
						</div>
					</div>
				</div>

				<div class="col">
					<div data-mdb-input-init class="form-group">
						<label for="drugItems">Drug Items</label>
						<div class="input-group">
							<select class="form-control ddlSearchList col-8" id="drugItems">
								<option value="0">Select Drug</option>
								@foreach (var item in Model.Drugs!)
								{
									<option value="@item.Id">@item.DrugName</option>
								}
							</select>
							<input type="text" class="form-control col-3 ml-2" id="drugQty" placeholder="Qty" value="1" />
							<button type="button" class="btn btn-success ml-2" onclick="addDrugItem()">Add Drug</button>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<table id="myTable2" class="table table-striped table-bordered dataTable fonts-12" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th data-orderable="true">Drugs Name</th>
								<th>Qty</th>
								<th>Price</th>
								<th>Amount</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody id="tblBodyPayments2">
						</tbody>
					</table>
				</div>

				<div class="col-md-6">
					<table id="myTable3" class="table table-striped table-bordered dataTable fonts-12" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th data-orderable="true">Drugs Name</th>
								<th>Qty</th>
								<th>Price</th>
								<th>Amount</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody id="tblBodyPayments3">
						</tbody>
					</table>
				</div>
			</div>

			<div class="row mb-4">
				<div class="col">
					<div data-mdb-input-init class="form-outline mb-4">
						<label class="form-label" for="subTotal">Subtotal (Rs.)</label>
						<input type="text" id="subTotal" class="form-control" onchange="calculate()" />
					</div>
				</div>

				<div class="col">
					<div data-mdb-input-init class="form-outline mb-4">
						<label class="form-label" for="discount">Discount (Rs.)</label>
						<input type="text" id="discount" class="form-control" onchange="calculate()" />
					</div>
				</div>

				<div class="col">
					<div data-mdb-input-init class="form-outline mb-4">
						<label class="form-label" for="totalAmount">Total Amount (Rs.)</label>
						<input type="text" id="totalAmount" class="form-control" value="0" disabled />
					</div>
				</div>
			</div>

			<div class="row mb-4">
				<div class="col">
					<div data-mdb-input-init class="form-outline mb-4">
						<label class="form-label" for="cashPayment">Cash Payment (Rs.)</label>
						<input type="text" id="cashPayment" class="form-control" onchange="calculate()" />
					</div>
				</div>

				<div class="col">
					<div data-mdb-input-init class="form-outline mb-4">
						<label class="form-label" for="balance">Balance (Rs.)</label>
						<input type="text" id="balance" class="form-control" value="0" disabled />
					</div>
				</div>
			</div>

			<!-- Submit button -->
			<button data-mdb-ripple-init type="button" class="btn btn-primary btn-block mb-4" onclick="PrintBill()">Print Bill</button>
		</form>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Issued Claim Bills</h4>

				<div class="table-responsive">
					<table id="basic-2" class="display">
						<thead>
							<tr>

								<th data-orderable="true">Id</th>
								<th>Cashier Name</th>
								<th>Patient Name</th>
								<th>Mobile Number</th>
								<th>Reference Number</th>
								<th>Consultant Name</th>
								<th>Appointment Number</th>
								<th>Description</th>
								<th>Sub Total</th>
								<th>Discount</th>
								<th>Total Amount</th>
								<th>Cash Amount</th>
								<th>Balance</th>
								<th>Issued Date</th>
							</tr>
						</thead>
						<tbody id="tblBodyPayments">
							@foreach (var item in Model.claimBillDtos)
							{
								<tr>

									<td>@item.Id</td>
									<td>@item.IssuedCashier</td>
									<td>@item.PatientName</td>
									<td>@item.MobileNumber</td>
									<td>@item.RefNo</td>
									<td>@item.ConsuntantName (@item.Specialist)</td>
									<td>@item.AppoimentNo</td>
									<td>@item.Description</td>
									<td>@item.SubTotal</td>
									<td>@item.Discount</td>
									<td>@item.TotalAmount</td>
									<td>@item.CashAmount</td>
									<td>@item.Balance</td>
									<td>@item.IssuedDate.ToString("M/d/yyyy dddd h:mm:ss tt")</td>
								</tr>
							}
						</tbody>
					</table>

				</div>
			</div>
		</div>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
<script>
	const commonUrl = @Json.Serialize(@Configuration.GetSection("MainAPI").GetSection("APIURL").Value);
	var drugusList = [];
	var scansList = [];

	$(document).ready(function () {
		$('#dropPatient').select2({
			width: '100%',
			height: "auto !important",
			dropdownCssClass: "bigdrop",
			dropdownParent: $('#filterFrm'),
			placeholder: 'Select one',
			allowClear: false,
		});

		$('#dropDoctor').select2({
			width: '100%',
			height: "auto !important",
			dropdownCssClass: "bigdrop",
			dropdownParent: $('#filterFrm'),
			placeholder: 'Select one',
			allowClear: false,
		});
	});

	function addDrugItem() {
		var drugId = document.getElementById("drugItems").value;
		var qty = document.getElementById("drugQty").value;

		console.log(drugId);

		// AJAX call to get drug details by ID
		var settings = {
			"url": commonUrl + "Drugs/GetAllDrugByID?Id=" + drugId,
			"method": "GET",
			"headers": {
				"Accept": "application/json",
				"Content-Type": "application/json"
			},
		};

		$.ajax(settings).done(function (response) {
			if (response) {
				var drugName = response.drugName;
				var price = response.price.toFixed(2);
				var amount = (qty * price).toFixed(2);

				// Create a new row in the table
				var table = document.getElementById("tblBodyPayments3");
				var row = table.insertRow();

				var row = document.createElement("tr");

				row.innerHTML = `<td>${drugName}</td>
								 <td>${qty}</td>
								 <td>${price}</td>
								 <td>${amount}</td>
								 <td><button type="button" class="btn btn-danger" onclick="deleteDrugItem(this)">Delete</button></td>
								 `;

				table.appendChild(row);

				var item = {
					ScanItemId: drugId,
					ItemType: "OPD",
					Price: price,
					Amount: amount,
					Qty: qty
				}

				drugusList.push(item);

				console.log(drugusList);
			} else {
				alert("Drug not found");
			}
		});
	}

	// Function to delete a drug item from the table
	function deleteDrugItem(button) {
		var row = button.parentNode.parentNode;
		row.parentNode.removeChild(row);
	}


	function addScanItem() {
		var scanItemsDropdown = document.getElementById("scanItems");
		var selectedValue = scanItemsDropdown.value;
		var selectedText = scanItemsDropdown.options[scanItemsDropdown.selectedIndex].text;
		var itemQty = document.getElementById("scanQty");

		if (selectedValue != "0") {
			var settings = {
				url: commonUrl + "Default/ChannelingScanGetByID?Id=" + selectedValue,
				method: "GET",
				headers: {
					"Accept": "application/json",
					"Content-Type": "application/json"
				},
			};

			$.ajax(settings).done(function (response) {
				console.log(response);
				var data = response;
				if (data != null) {
					var selectedID = data.id;
					var hpFeeToatal = parseFloat(data.hospitalFee);
					var drFeeToatal = parseFloat(data.doctorFee);
					var subTotalAddon = hpFeeToatal + drFeeToatal;
					var qty = itemQty.value;

					var tableBody = document.getElementById("tblBodyPayments2");

					var row = document.createElement("tr");

					row.innerHTML = `
									<td>${selectedText}</td>
									<td>${qty}</td>
									<td>${subTotalAddon}</td>
									<td>${subTotalAddon * qty}</td>
									<td><button type="button" class="btn btn-danger" onclick="removeScanItem(this)">Delete</button></td>
									`;

					tableBody.appendChild(row);

					var item = {
						ScanItemId: selectedValue,
						ItemType: "CHE",
						Price: subTotalAddon.toFixed(2),
						Amount: (subTotalAddon * qty).toFixed(2),
						Qty: qty
					}

					scansList.push(item);
					console.log(scansList);
				}
			});

		} else {
			alert("Please select a scan item.");
		}
	}

	function removeScanItem(button) {
		var row = button.closest("tr");
		row.remove();
	}


	function calculate() {
		console.log("Calculating...");
		var subtotal = parseFloat(document.getElementById('subTotal').value);
		var discount = parseFloat(document.getElementById('discount').value);
		var cashPayment = parseFloat(document.getElementById('cashPayment').value);

		console.log(subtotal);
		console.log(discount);
		console.log(cashPayment);

		// Check if values are valid numbers
		if (isNaN(subtotal)) {
			subtotal = 0;
		}
		if (isNaN(discount)) {
			discount = 0;
		}
		if (isNaN(cashPayment)) {
			cashPayment = 0;
		}

		// Calculate total amount
		var total = subtotal - discount;

		// Calculate balance
		var balance = cashPayment - total;

		// Update the total and balance displayed
		document.getElementById('totalAmount').value = total.toFixed(2);
		document.getElementById('balance').value = balance.toFixed(2);
	}

	function select_onchange_patient(value) {

		var settings = {
			url: "/ClaimBill/LoadPatientsAjax/" + value,
			"method": "GET",
			"headers": {
				"Accept": "application/json",
				"Content-Type": "application/json"
			},
		};



		$.ajax(settings).done(function (response) {
			console.log(response);
			var data = response;

			if (data != null) {
				$('#contactNumber').val(data.mobileNumber);
			}
		});
	}

	function PrintBill() {
		var logoImage = new Image();
		var barcodeImage = new Image();
		var imagesLoaded = 0;


		logoImage.src = "https://kumuduhospital.com/assets/images/kumudu_logo2.jpg"; // Replace with your actual logo URL
		barcodeImage.src = "https://png.pngtree.com/png-clipart/20220424/original/pngtree-black-and-white-icons-of-barcode-numbers-png-image_7554658.png"; // Replace with your actual barcode URL

		// Callback function to check if all images are loaded
		function checkImagesLoaded() {
			imagesLoaded++;

			if (imagesLoaded === 2) { // You may need to adjust this count if you have more images
				openPrintWindow();
			}
		}

		// Set the load event listeners for the images
		logoImage.onload = checkImagesLoaded;
		barcodeImage.onload = checkImagesLoaded;

		function openPrintWindow() {
			var refNo = document.getElementById("refNo").value;
			var dropPatient = document.getElementById("patientName").value;
			var contactNumber = document.getElementById("contactNumber").value;
			var dropDoctor = document.getElementById("dropDoctor").value;
			var subTotal = document.getElementById("subTotal").value;
			var discount = document.getElementById("discount").value;
			var totalAmount = document.getElementById("totalAmount").value;
			var cashPayment = document.getElementById("cashPayment").value;
			var balance = document.getElementById("balance").value;
			var nic = document.getElementById("nic").value;
			var hospitalFee = document.getElementById("hospitalFee").value;
			var consultantFee = document.getElementById("consultantFee").value;

			var claimBill = {
				PatientName: dropPatient,
				RefNo: refNo,
				ContactNumber: contactNumber,
				ConsultantId: dropDoctor,
				SubTotal: subTotal,
				TotalAmount: totalAmount,
				Cash: cashPayment,
				Balance: balance,
				NIC: nic,
				ClaimBillItemsList: scansList.concat(drugusList),
				HospitalFee: hospitalFee,
				ConsultantFee: consultantFee  
			}

			console.log(claimBill);
			
			$.ajax({
				type: "POST",
				url: "/ClaimBill/AddNewClaimBill",
				data: JSON.stringify(claimBill),
				contentType: "application/json; charset=utf-8",
				dataType: "html",
				success: function (response) {
					var printWindow = window.open('', '_blank', 'width=600,height=600,location=no,menubar=no');
					printWindow.document.open();
					printWindow.document.write(response);
					//printWindow.document.getElementsByTagName('body')[0].style.setProperty('width', '600px'); // Set the width as needed
					//printWindow.document.getElementsByTagName('body')[0].style.setProperty('margin', '0'); // Remove any margins
					printWindow.document.close();
					printWindow.print();
					printWindow.close();
				},
				failure: function (response) {
					alert(response.responseText);
				},
				error: function (response) {
					alert(response.responseText);
				}
			});
		}

		// If the images are already cached, the load event may not fire, so check immediately
		if (logoImage.complete && barcodeImage.complete) {
			openPrintWindow();
		}
	}

</script>
