@{
    ViewData["Title"] = "Home Page";
}
@section Styles{
    <style>


        .order-card {
            color: #fff;
        }

        .bg-c-blue {
            background: linear-gradient(45deg,#4099ff,#73b4ff);
        }

        .bg-c-green {
            background: linear-gradient(45deg,#2ed8b6,#59e0c5);
        }

        .bg-c-yellow {
            background: linear-gradient(45deg,#FFB64D,#ffcb80);
        }

        .bg-c-pink {
            background: linear-gradient(45deg,#FF5370,#ff869a);
        }


        .card {
            border-radius: 5px;
            -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
            box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
            border: none;
            margin-bottom: 30px;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

            .card .card-block {
                padding: 25px;
            }

        .order-card i {
            font-size: 26px;
        }

        .f-left {
            float: left;
        }

        .f-right {
            float: right;
        }

    </style>
}


    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <div class="row">

	    <div class="col-md-4 col-xl-3 mt-5" id="admissionDiv">
		    <div class="card bg-c-blue order-card">
			    <div class="card-block">
				    <h2 class="m-b-20">Admission</h2>
				    <h2 class="text-right"><i class="fa fa-bed f-left"></i><span>486</span></h2>
				    @*<p class="m-b-0">Completed Orders<span class="f-right">351</span></p>*@
			    </div>
		    </div>
	    </div>

	    <div class="col-md-4 col-xl-3 mt-5" id="opdDiv">
		    <div class="card bg-c-green order-card">
			    <div class="card-block">
				    <h2 class="m-b-20">OPD</h2>
				    <h2 class="text-right"><i class="fa fa-stethoscope f-left"></i><span>486</span></h2>
				    @*                        <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>*@
			    </div>
		    </div>
	    </div>

	    <div class="col-md-4 col-xl-3 mt-5" id="channelingDiv">
		    <div class="card bg-c-yellow order-card">
			    <div class="card-block">
				    <h2 class="m-b-20">Channeling</h2>
				    <h2 class="text-right"><i class="fa fa-user-md f-left"></i><span>486</span></h2>
				    @*<p class="m-b-0">Completed Orders<span class="f-right">351</span></p>*@
			    </div>
		    </div>
	    </div>
        
	    <div class="col-md-4 col-xl-3 mt-5" id="xrayDiv">
		    <div class="card bg-info order-card">
			    <div class="card-block">
				    <h2 class="m-b-20">X-RAY</h2>
				    <h2 class="text-right"><i class="fa fa-money f-left"></i><span>486</span></h2>
				    @* <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>*@
			    </div>
		    </div>
	    </div>

	    <div class="col-md-4 col-xl-3 mt-5" id="cashierDiv">
		    <div class="card bg-c-pink order-card">
			    <div class="card-block">
				    <h2 class="m-b-20">Cashier</h2>
				    <h2 class="text-right"><i class="fa fa-money f-left"></i><span>486</span></h2>
				    @* <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>*@
			    </div>
		    </div>
	    </div>
    </div>
    

    @section scripts{

    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
    <script>
        $("#admissionDiv").click(function () {
            window.location.href = "@Url.Action("Index", "Admission")";
        });
        $("#opdDiv").click(function () {
            window.location.href = "@Url.Action("Index", "OPDRegistration")";
        });
        $("#channelingDiv").click(function () {
            window.location.href = "@Url.Action("Index", "Channeling")";
        });
        $("#cashierDiv").click(function () {
            window.location.href = "@Url.Action("Index", "Cashier")";
        });
        $("#xrayDiv").click(function () {
            window.location.href = "@Url.Action("Index", "XRAY")";
        });
    </script>



}