@using Microsoft.Extensions.Configuration
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CashierDto;
@{
	Layout = null;
}
@inject IConfiguration Configuration

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 15px;
            margin: 0 auto; /* Center the content */
            max-width: 800px; /* Limit the width of the receipt */
            padding: 60px 20px; /* Add padding to the left and right */
        }

        h1, h2, h3, h4, h5, h6, p, td, th {
            font-size: inherit;
        }

        #logo {
            text-align: center;
        }

        #address {
            text-align: center;
        }

        hr {
            border: 1px solid #000;
        }

        #patient-details {
            text-align: left;
            margin: 10px 0;
            font-size: 15px;
        }

        table {
            width: 90%; /* Full width */
            border-collapse: collapse;
            table-layout: fixed;
            margin-bottom: 0;
        }

        table, th, td {
            border: none;
            font-size: 15px;
        }

            table th {
                background-color: #f0f0f0;
            }

        #total-section {
            text-align: right;
            margin: 10px 0;
        }

        #barcode {
            text-align: center;
            margin-top: 0;
        }

        @@media print {
            .page-break {
                page-break-before: always;
            }

            body {
                margin: 0;
                padding: 10px; /* Remove padding for print */
            }

            .header, .details, .bill-table, #barcodeTrueCopy, p, hr {
                margin: 0;
                padding: 0;
            }

            .logo {
                max-width: 120px; /* Ensure logo fits in print */
                height: auto;
            }

            .address, .contact {
                font-size: 15px; /* Adjust font size for print */
            }

            h2 {
                font-size: 18px; /* Adjust heading size for print */
            }

            h4 {
                font-size: 14px; /* Adjust subheading size for print */
            }

            .bill-table th, .bill-table td {
                padding: 5px;
                font-size: 15px; /* Adjust table font size for print */
            }

            p {
                font-size: 15px; /* Adjust paragraph font size for print */
            }
            /* Ensure table borders and colors are visible in print */
            .bill-table th {
                background-color: #f2f2f2 !important; /* Force background color in print */
                -webkit-print-color-adjust: exact; /* Ensure colors are printed */
            }

            .bill-table td {
                border-right: 1px solid #000 !important; /* Force borders in print */
            }
            /* Ensure images (logos) are loaded in print */
            img {
                visibility: visible !important; /* Force images to be visible in print */
            }
        }

        .Admreceipt {
            display: flex;
            flex-direction: column; /* Stack items vertically */
            align-items: center; /* Center items horizontally */
            justify-content: center; /* Center items vertically (optional) */
            padding: 0 10px;
           
            position: relative;
            text-align: center; /* Ensure text inside is centered */
             /* Full width */
        }
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            padding: 10px 0;
            
            position: relative;
        }

        
        .content {
            display: flex;
            flex-direction: column; /* Stack items vertically */
            align-items: center; /* Center items horizontally */
            justify-content: center; /* Center items vertically (optional) */
            padding: 5px 0;
            border-bottom: 2px solid black;
            position: relative;
            text-align: center; /* Ensure text inside is centered */
             /* Full width */
        }
        .bill {
            display: flex;
            flex-direction: column; /* Stack items vertically */
            align-items: center; /* Center items horizontally */
            justify-content: center; /* Center items vertically (optional) */
            padding: 5px 0;
            
            position: relative;
            text-align: center; /* Ensure text inside is centered */
             /* Full width */
        }

        .bill-content {
            
            flex-direction: column; /* Stack items vertically */
            align-items: center; /* Center items horizontally */
            justify-content: center; /* Center items vertically (optional) */
            padding: 5px 0;
            /* Ensure text inside is centered */
            /* Full width */
        }
        
        .logo {
            max-width: 150px;
            height: auto;
            margin: 10px;
        }

        .address, .contact {
            font-size: 15px;
            margin: 5px 0;
        }

        h2, h4 {
            margin: 10px 0;
        }

        .details {
            display: flex;
            justify-content: column;
            padding: 5px 0; /* Balance left and right padding */
            
            font-size: 15px;
            width: 100%; /* Ensure full width */
            box-sizing: border-box;
            line-height: 1.6; /* Good line height for clarity */
        }

            .details div {
                width: 48%; /* Split space evenly */
            }

                .details div:last-child {
                    text-align: right; /* Right side text align */
                }

            /* Optional: To align colons and labels properly */
            .details .label {
                display: inline-block;
                min-width: 120px; /* Adjust width as needed */
                font-weight: bold;
            }

        .details-table {
           /* Increase table width to 90% of the page */
            margin: 0 auto; /* Center the table horizontally */
            padding: 20px 20px;
            margin-bottom: 20px;
            table-layout: fixed;
            border-bottom: 2px solid black;
           
        }
        /* Table Styles */
        .bill-table {
           /* Increase table width to 90% of the page */
            margin: 0 auto; /* Center the table horizontally */
            padding: 20px 20px;
            margin-bottom: 20px;
            table-layout: fixed;
        }

            .bill-table th {
                padding: 8px;
                text-align: left; /* Align header text to the right */
                background-color: #f2f2f2; /* Light gray background for headers */
            }

            .bill-table td {
                /* Vertical border for columns */
                padding: 8px;
                text-align: right; /* Default alignment for all columns */
            }

                .bill-table td:first-child {
                    text-align: left; /* Align first column data to the left */
                    border-left: none; /* Remove left border for the first column */
                }

            .bill-table th:nth-child(2) {
                text-align: right; /* Align first column data to the left */
                /* Remove left border for the first column */
            }

            .bill-table th:first-child,
            .bill-table td:first-child {
                /* Remove left border for the first column */
                padding-left: 8px;
                width: 85%; /* First column (Description) takes up more space */
            }

            .bill-table th:last-child,
            .bill-table td:last-child {
                border-right: none; /* Remove right border for the last column */
                border-left: none;
                width: 15%;
            }

        
        /* Footer Styles */
        p {
            text-align: center;
            font-size: 14px;
            margin-top: 20px;
        }

        hr {
            border: 0;
            border-top: 1px solid #000;
            margin: 20px 0;
        }

        /* Print-specific Styles */
        @@media print {
            body {
                margin: 0;
                padding: 0;
            }

            .details {
                padding: 5px 0; /* Add more space from left and right borders in print */
                margin: 0 auto; /* Center the details container */
                /* Ensure it takes up 90% of the page width */
                font-size: 15px;
            }

                .details div {
                    width: 48%; /* Maintain the width of the child divs */
                }

                    .details div:last-child {
                        text-align: right; /* Ensure the last div is right-aligned */
                    }

            .header, .details, .bill-table, #barcodeTrueCopy, p, hr {
                margin: 0;
            }

            .logo {
                max-width: 120px;
            }

            .address, .contact {
                font-size: 15px;
            }

            h2 {
                font-size: 18px;
            }

            h4 {
                font-size: 15px;
            }

            .bill-table th, .bill-table td {
                padding: 5px;
                font-size: 15px;
            }

                .bill-table td:first-child {
                    text-align: left; /* Align first column data to the left */
                    border-left: none; /* Remove left border for the first column */
                }

                .bill-table th:nth-child(2) {
                    text-align: right; /* Align first column data to the left */
                    border-left: none; /* Remove left border for the first column */
                }

                .bill-table th:first-child,
                .bill-table td:first-child {
                    border-left: none; /* Remove left border for the first column */
                    
                    width: 85%; /* First column (Description) takes up more space */
                }

                
                .bill-table td:last-child {
                    border-right: none; /* Remove right border for the last column */
                    border-left: 1px solid #000;
                    width: 15%;
                }


            p {
                font-size: 15px;
            }
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.6/dist/JsBarcode.all.min.js"></script>
</head>
<body>
    <!-- Customer Copy -->
    <div id="Customer">
        @if (Model.invoiceType == HospitalMgrSystem.Model.Enums.InvoiceType.CHE)
        {

            <div id="address">
                <p class="pb-2 text-4xl" style="margin: auto; font-weight: bold">
                    KUMUDU HOSPITAL
                </p>
                <p class="text-sm text-gray-400" style="margin-top: 10px; margin-bottom: auto">
                    No 48, Kandy Road, Matale,
                </p>
                <p class="text-sm text-gray-400" style="margin-top: 10px; margin-bottom: auto">
                    Tel: 066 22 22 244 | 066 22 30 027
                </p>
                <p class="text-sm text-gray-400" style="margin-top: 10px;">
                  @(Model.invoice.ModifiedDate.ToString("dd/MM/yyyy"))
                </p>
            </div>
            <hr>

            <h4 style="margin: 0 0 10px 0; padding: 0; text-align: center;">Channeling Bill </h4>
            <h4 style="margin: 10px 0 0 0; padding: 0; text-align: center;">Customer Copy</h4>
            <h4 style="text-align:center"> @(Model.PrintCount > 1 ? "Re-Print " : "") </h4>
            <hr>
            <h5 style="margin: 0; padding: 0; text-align: center;">Ref No: CHE-@Model.opd.Id</h5>
            <hr>
            <table id="patient-details" style="margin-right: auto;">
                <tr>
                    <td style="text-align: left;">Patient Name:</td>
                    <td style="text-align: left;">@Model.customerName</td>
                </tr>
                <tr>
                    <td style="text-align: left;">Phone No:</td>
                    <td style="text-align: left;">@(Model.patientContactNo == "" ? "None" : Model.patientContactNo)</td>
                </tr>
                <tr>
                    <td style="text-align: left;">Doctor Name:</td>
                    <td style="text-align: left;">@Model.consaltantName</td>
                </tr>
                <tr>
                    <td style="text-align: left;">Specialist:</td>
                    <td style="text-align: left;">@Model.opd!.consultant!.Specialist!.Name</td>
                </tr>
                <tr>
                    <td style="text-align: left;">Appointment No:</td>
                    <td style="text-align: left;">@Model.opd!.AppoimentNo</td>
                </tr>
                <tr>
                    <td style="text-align: left;">Room No:</td>
                    <td style="text-align: left;">@Model.ChannelingSchedule!.Room!.Name</td>
                </tr>
                <tr>
                    <td style="text-align: left;">Date:</td>
                    <td style="text-align: left;">@DateTime.Now</td>
                </tr>
            </table>
            <hr>
            <table>
                @{
                    string itemName = Model.ItemName;
                    string displayItemName;

                    switch (itemName)
                    {
                        case "VOG Scan":
                            displayItemName = itemName + " Counsultant Fee:";
                            break;
                        case "Echo Test":
                            displayItemName = displayItemName = itemName + " Technical Counsultant Fee:";
                            break;
                        case "Channelling":
                            displayItemName = "Consultant Fee:";
                            break;
                        default:
                            displayItemName = " Counsultant Fee:";
                            break;
                    }
                }
                <tr>

                    <td style="text-align: left;">@displayItemName</td>
                    <td style="text-align: right;">Rs. @Model.consaltantFee.ToString("0.00")</td>
                </tr>
                <tr>
                    @{

                        string Scan;

                        switch (itemName)
                        {
                            case "VOG Scan":
                                Scan = "VOG Scan Fee:";
                                break;
                            case "Echo Test":
                                Scan = "Echo Scan Fee:";
                                break;
                            case "Channelling":
                                Scan = "Hospital Fee:";
                                break;
                            default:
                                Scan = " Scan Fee:";
                                break;
                        }

                    }
                    <td style="text-align: left;">@Scan</td>
                    <td style="text-align: right;">Rs. @Model.hospitalFee.ToString("0.00")</td>
                </tr>
            </table>
            <hr>
            <table id="total-section" style="margin-left: auto;">

                @if (Model != null)
                {
                    decimal totalCash = 0;
                    decimal totalBlence = 0;

                    @if (Model.paymentList != null)
                    {
                        @foreach (var item in Model.paymentList)
                        {
                            @if (item.BillingType == HospitalMgrSystem.Model.Enums.BillingType.BALENCE)
                                totalBlence = totalBlence + item.CashAmount;
                            @if (item.BillingType == HospitalMgrSystem.Model.Enums.BillingType.CASHIER)
                                totalCash = totalCash + item.CashAmount + item.CreditAmount + item.DdebitAmount + item.ChequeAmount + item.GiftCardAmount;
                        }
                    }
                    <tr>
                        <td style="text-align: left;">Sub total:</td>
                        <td style="text-align: right;">Rs. @Model.preSubtotal.ToString("0.00")</td>
                    </tr>
                    @if (Model.discount != 0)
                    {
                        <tr>
                            <td style="text-align: left;">Discount:</td>
                            <td style="text-align: right;">Rs. @Model.discount.ToString("0.00")</td>
                        </tr>
                    }
                    <tr>
                        <td style="text-align: left;">Net Total:</td>
                        <td style="text-align: right;">Rs. @Model.preTotal.ToString("0.00")</td>
                    </tr>

                    <tr>
                        <td style="text-align: left;">Cash Payment:</td>
                        <td style="text-align: right;">Rs. @totalCash.ToString("0.00")</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">Balance:</td>
                        <td style="text-align: right;">Rs. @(Math.Abs(totalBlence).ToString("0.00"))</td>
                    </tr>
                }

            </table>
            <hr>
            <div id="barcodeCustomer" style="margin-top: -15px !important; padding: 0; line-height: 0;">
                <svg id="barcodeSvgCustomer" style="width: 100%; height: 40px; margin: 0; padding: 0;"></svg>
            </div>

            <p style="margin-top: 0px !important; padding: 0;">Payment Successfully Completed !</p>
            <hr>
        }
    </div>

    <!-- Page Break for True Copy -->
    <div class="page-break"></div>

    <!-- True Copy -->
    <div id="TrueCopy">
        @if (Model.invoiceType == HospitalMgrSystem.Model.Enums.InvoiceType.CHE)
        {
            <div id="address">
                <p class="pb-2 text-4xl" style="margin: auto; font-weight: bold">
                    KUMUDU HOSPITAL
                </p>
                <p class="text-sm text-gray-400" style="margin-top: 10px; margin-bottom: auto">
                    No 48, Kandy Road, Matale,
                </p>
                <p class="text-sm text-gray-400" style="margin-top: 10px; margin-bottom: auto">
                    Tel: 066 22 22 244 | 066 22 30 027
                </p>
                <p class="text-sm text-gray-400" style="margin-top: 10px;">
                  @(Model.invoice.ModifiedDate.ToString("dd/MM/yyyy"))
                </p>
            </div>
            <hr>
            <h4 style="margin: 0 0 10px 0; padding: 0; text-align: center;">Channeling Bill </h4>
            <h4 style="margin: 10px 0 0 0; padding: 0; text-align: center;">True Copy</h4>
            <h4 style="text-align:center"> @(Model.PrintCount > 1 ? "Re-Print " : "") </h4>
            <hr>
            <h5 style="margin: 0; padding: 0; text-align: center;">Ref No: CHE-@Model.opd.Id</h5>
            <hr>
            <table id="patient-details" style="margin-right: auto;">
                <tr>
                    <td style="text-align: left;">Patient Name:</td>
                    <td style="text-align: left;">@Model.customerName</td>
                </tr>
                <tr>
                    <td style="text-align: left;">Phone No:</td>
                    <td style="text-align: left;">@(Model.patientContactNo == "" ? "None" : Model.patientContactNo)</td>
                </tr>
                <tr>
                    <td style="text-align: left;">Doctor Name:</td>
                    <td style="text-align: left;">@Model.consaltantName</td>
                </tr>
                <tr>
                    <td style="text-align: left;">Specialist:</td>
                    <td style="text-align: left;">@Model.opd!.consultant!.Specialist!.Name</td>
                </tr>
                <tr>
                    <td style="text-align: left;">Appointment No:</td>
                    <td style="text-align: left;">@Model.opd!.AppoimentNo</td>
                </tr>
                <tr>
                    <td style="text-align: left;">Room No:</td>
                    <td style="text-align: left;">@Model.ChannelingSchedule!.Room!.Name</td>
                </tr>
                <tr>
                    <td style="text-align: left;">Date:</td>
                    <td style="text-align: left;">@DateTime.Now</td>
                </tr>
            </table>
            <hr>
            <table>
                @{
                    string itemName = Model.ItemName;
                    string displayItemName;

                    switch (itemName)
                    {
                        case "VOG Scan":
                            displayItemName = itemName + " Counsultant Fee:";
                            break;
                        case "Echo Test":
                            displayItemName = displayItemName = itemName + " Technical Counsultant Fee:";
                            break;
                        case "Channelling":
                            displayItemName = "Consultant Fee:";
                            break;
                        default:
                            displayItemName = " Counsultant Fee:";
                            break;
                    }
                }
                <tr>

                    <td style="text-align: left;">@displayItemName</td>
                    <td style="text-align: right;">Rs. @Model.consaltantFee.ToString("0.00")</td>
                </tr>
                <tr>
                    @{

                        string Scan;

                        switch (itemName)
                        {
                            case "VOG Scan":
                                Scan = "VOG Scan Fee:";
                                break;
                            case "Echo Test":
                                Scan = "Echo Scan Fee:";
                                break;
                            case "Channelling":
                                Scan = "Hospital Fee:";
                                break;
                            default:
                                Scan = " Scan Fee:";
                                break;
                        }

                    }
                    <td style="text-align: left;">@Scan</td>
                    <td style="text-align: right;">Rs. @Model.hospitalFee.ToString("0.00")</td>
                </tr>
            </table>
            <hr>
            <table id="total-section" style="margin-left: auto;">

                @if (Model != null)
                {
                    decimal totalCash = 0;
                    decimal totalBlence = 0;

                    @if (Model.paymentList != null)
                    {
                        @foreach (var item in Model.paymentList)
                        {
                            @if (item.BillingType == HospitalMgrSystem.Model.Enums.BillingType.BALENCE)
                                totalBlence = totalBlence + item.CashAmount;
                            @if (item.BillingType == HospitalMgrSystem.Model.Enums.BillingType.CASHIER)
                                totalCash = totalCash + item.CashAmount + item.CreditAmount + item.DdebitAmount + item.ChequeAmount + item.GiftCardAmount;
                        }
                    }
                    <tr>
                        <td style="text-align: left;">Sub total:</td>
                        <td style="text-align: right;">Rs. @Model.preSubtotal.ToString("0.00")</td>
                    </tr>
                    @if (Model.discount != 0)
                    {
                        <tr>
                            <td style="text-align: left;">Discount:</td>
                            <td style="text-align: right;">Rs. @Model.discount.ToString("0.00")</td>
                        </tr>
                    }
                    <tr>
                        <td style="text-align: left;">Net Total:</td>
                        <td style="text-align: right;">Rs. @Model.preTotal.ToString("0.00")</td>
                    </tr>

                    <tr>
                        <td style="text-align: left;">Cash Payment:</td>
                        <td style="text-align: right;">Rs. @totalCash.ToString("0.00")</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">Balance:</td>
                        <td style="text-align: right;">Rs. @(Math.Abs(totalBlence).ToString("0.00"))</td>
                    </tr>
                }

            </table>
            <hr>
            <div id="barcodeTrueCopy" style="margin-top: -15px !important; padding: 0; line-height: 0;">
                <svg id="barcodeSvgTrueCopy" style="width: 100%; height: 40px; margin: 0; padding: 0;"></svg>
            </div>

            <p style="margin-top: 0px !important; padding: 0;">Payment Successfully Completed !</p>
            <hr>
        }
    </div>

    <div id="receipt">

        @if (Model.invoiceType == HospitalMgrSystem.Model.Enums.InvoiceType.OPD)
           {
            @if (Model != null)
              {
                @if (Model.cashierBillingItemDtoList != null)
                  {
                    <div id="logo">
                        <img src="https://kumuduhospital.com/assets/images/kumudu_logo2.jpg" alt="Logo" width="100">
                    </div>
                    <div id="address">
                        <p class="pb-2 text-4xl" style="margin: auto; font-weight: bold">
                            KUMUDU HOSPITAL
                        </p>
                        <p class="text-sm text-gray-400" style="margin-top: 10px; margin-bottom: auto">
                            No 48, Kandy Road, Matale,
                        </p>
                        <p class="text-sm text-gray-400" style="margin-top: 10px; margin-bottom: auto">
                            Tel: 066 22 22 244 | 066 22 30 027
                        </p>
                        <p class="text-sm text-gray-400" style="margin-top: 10px; margin-bottom: auto">
                          @(Model.invoice.ModifiedDate.ToString("dd/MM/yyyy"))
                        </p>
                        <hr>
                        @if (Model.opd != null && Model.opd.Description == "X-RAY")
                        {
                            <h4 style="margin: 0; padding: 0;">X-RAY Bill </h4>
                            <h4> @(Model.PrintCount > 1 ? "Re-Print" : "") </h4>
                            <h5 style="margin: 0; padding: 0;">@Model.ItemName</h5>
                        }
                        else
                        {
                            <h5 style="margin: 0; padding: 0;">OPD Bill </h5>
                            <h4> @(Model.PrintCount > 1 ? "Re-Print" : "") </h4>
                        }
                    

                   

                    @if (Model.invoiceType == HospitalMgrSystem.Model.Enums.InvoiceType.ADM)
                    {
                        <h5 style="margin: 0; padding: 0;"></h5>
                    }
                
            
                     </div>
        <hr>

        @if (Model.cashierBillingItemDtoList != null)
        {
            @if (Model.invoiceType == HospitalMgrSystem.Model.Enums.InvoiceType.OPD)
            {
                @if (Model.opd != null && Model.opd.Description == "X-RAY")
                {
                    <h5 style="margin: 0; padding: 0; text-align:center;">Ref No:XRAY-@Model.opd.Id</h5>
                }
                else
                {
                    <h5 style="margin: 0; padding: 0; text-align:center;">Ref No:OPD-@Model.opd.Id</h5>
                }
            }

            

            @if (Model.invoiceType == HospitalMgrSystem.Model.Enums.InvoiceType.ADM)
            {
                <h5 style="margin: 0; padding: 0; text-align:center;">Ref No:ADM-@Model.opd.Id</h5>
            }
        }

        <hr>
        @if (Model != null)
        {
            var currentTime = DateTime.Now;

            <table id="patient-details" style="margin-right: auto;">
                <tr>
                    <td style="text-align: left;">Patient Name:</td>
                    <td style="text-align: left;">@Model.customerName</td>
                </tr>
                <tr>
                    <td style="text-align: left;">Phone No:</td>
                    <td style="text-align: left;">@(Model.patientContactNo == "" ? "None" : Model.patientContactNo)</td>
                </tr>
                @if (Model.opd != null && Model.opd.Description != "X-RAY")
                {
                    <tr>
                        <td style="text-align: left;">Doctor Name:</td>
                        <td style="text-align: left;">@Model.consaltantName</td>
                    </tr>
                }
                @if (Model.ChannelingSchedule != null)
                {
                    <tr>
                        <td style="text-align: left;">Specialist:</td>
                        <td style="text-align: left;">@Model.opd!.consultant!.Specialist!.Name</td>
                    </tr>
                }

               
            </table>

            <hr>
            @if (Model.cashierBillingItemDtoList != null)
            {
                <table>
                    <tr>
                        
                        @if (Model.invoiceType == HospitalMgrSystem.Model.Enums.InvoiceType.ADM)
                        {
                        }
                    </tr>
                    @if (Model.invoiceType == HospitalMgrSystem.Model.Enums.InvoiceType.OPD)
                    {
                        var rowNumber = 1;
                        decimal itemAmmount = 0;
                        decimal hospitalFee = 0;
                        @foreach (var item in Model.cashierBilledItemDtoList)
                        {
                            @if (item.amount > 0)
                            {
                                if (item.billingItemsType == HospitalMgrSystem.Model.Enums.BillingItemsType.Hospital)
                                {
                                    hospitalFee = item.amount;
                                }
                                else
                                {
                                    itemAmmount = itemAmmount + item.amount;
                                }

                                rowNumber++;
                            }
                        }

                        <tr>
                            <td style="margin: 2px; padding: 2px; text-align: left;">Other Items</td>
                                        <td style="margin: 2px; padding: 2px; text-align: right;">Rs. @itemAmmount.ToString("0.00")</td>
                        </tr>
                        <tr style="margin-left: auto;">
                            <td style="margin: 2px; padding: 2px; text-align: left;">Hospital Fee</td>
                                        <td style="margin: 2px; padding: 2px; text-align: right;">Rs. @hospitalFee.ToString("0.00")</td>
                        </tr>
                    }
                   
                </table>
                <hr>

                <table id="total-section" style="margin-left: auto;">
                    <tr>
                        <td style="text-align: left;">Net total:</td>
                        <td style="text-align: right;">Rs. @Model.preSubtotal.ToString("0.00")</td>
                    </tr>


                    @if (Model != null)
                    {
                        decimal totalCash = 0;
                        decimal totalBlence = 0;

                        @if (Model.paymentList != null)
                        {
                            @foreach (var item in Model.paymentList)
                            {
                                @if (item.BillingType == HospitalMgrSystem.Model.Enums.BillingType.BALENCE)
                                    totalBlence = totalBlence + item.CashAmount;
                                @if (item.BillingType == HospitalMgrSystem.Model.Enums.BillingType.CASHIER)
                                    totalCash = totalCash + item.CashAmount + item.CreditAmount + item.DdebitAmount + item.ChequeAmount + item.GiftCardAmount;
                            }
                        }

                        <tr>
                            <td style="text-align: left;">Cash Payment:</td>
                            <td style="text-align: right;">Rs. @totalCash.ToString("0.00")</td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">Balance:</td>
                            <td style="text-align: right;">Rs. @(Math.Abs(totalBlence).ToString("0.00"))</td>
                        </tr>
                    }

                </table>

            }

          
        }
       }
      }     <hr>
            <p>Payment Successfully Completed !</p>
            <hr>
     }

        
    </div>
 
    <div id="Admreceipt">
        @if (Model.invoiceType == HospitalMgrSystem.Model.Enums.InvoiceType.ADM)
        {
            @if (Model != null)
            {
                <div class="header">
                    <!-- Add a fallback for the logo image -->
                    <img src="https://kumuduhospital.com/assets/images/kumudu_logo2.jpg" alt="Kumudu Hospital Logo" width="150" style="padding-left: 40px;" />

                    <div class="address">
                        KUMUDU HOSPITAL PLC<br>
                        No 48, Kandy Road, Matale.
                    </div>
                    <div class="contact">
                        Tel: 066 22 22 244 | 066 22 30 027<br>
                        Email: kumuduhospital@gmail.com
                    </div>
                   
                </div>
                <div class="bill">
                    <h2>Inpatients Final Bill</h2>
                    <h4 style="text-align:center"> @(Model.PrintCount > 1 ? "Re-Print" : "") </h4>
                </div>
                <div class="bill-content">
                    <table class="details-table">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                          
                             <tr>
                                <td>
                                    <div>
                                    Name:&nbsp;&nbsp; <b>@Model.customerName</b><br>
                                    Address:&nbsp;&nbsp;@Model.address <br>
                                    Primary Consultant: &nbsp;&nbsp;@Model.consaltantName<br>
                                    Age : &nbsp;&nbsp; @Model.patientAge
                                        
                                    </div>
                                </td>
                                <td>
                                    <div>
                                    Bill No: &nbsp;&nbsp; BHT-@Model.adm.Id<br>
                                    Date Of Bill: &nbsp;&nbsp;@DateTime.Now<br>
                                    Arrival: &nbsp;&nbsp;@Model.Admission.CreateDate <br>
                                    Departure: &nbsp;&nbsp;@Model.Admission.DischargeDate. <br>
                                    Bed/Room: &nbsp;&nbsp; @Model.adm!.Room!.Name
                                    </div>
                                </td>
                              </tr>
                         </tbody>
                     </table>

                </div>
               
                <div class="content">
                <table class="bill-table">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>Amount (Rs.)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Hospital General Fees -->
                        @if (Model.AdmissionFeeList != null)
                        {
                            foreach (var Item in Model.AdmissionFeeList)
                            {
                                <tr>
                                        <td>@Item.ItemName - {(Units)@Item.Qty *(Price)*@Item.Price}</td>
                                        <td>Rs. @Item.Amount.ToString("0.00")</td>
                                </tr>
                            }
                        }
                        <!-- Consultant Fees -->
                        @if (Model.AdmissionConsultantList != null)
                        {
                            
                                <tr>
                                    <td>Total Counsultants Chargers</td>
                                    <td>Rs. @Model.TotalcounsultantAmount.ToString("0.00")</td>
                                </tr>
                           
                        }

                        <!-- Investigation Charges -->
                        @if (Model.AdmissionInvestigationList != null)
                        {
                           
                                <tr>
                                    <td>Total Labotary Chargers</td>
                                    <td>Rs. @Model.TotalInvestigationAmount.ToString("0.00")</td>
                                </tr>
                           
                        }
                        <!-- Other Items -->
                        @if (Model.AdmissionItemsList != null)
                        {
                           
                                <tr>
                                    <td>Total Ward Consumable Chargers</td>
                                        <td>Rs. @Model.TotalItemAmount.ToString("0.00")</td>
                                </tr>
                            
                        }
                        <!-- Drug Fees -->
                        @if (Model.TotalDrugsAmount != 0)
                        {
                            <tr>
                                <td>Total Drugs Chargers</td>
                                <td>Rs. @Model.TotalDrugsAmount.ToString("0.00")</td>
                            </tr>
                        }

                        @if (Model != null)
                        {
                            decimal totalCash = 0;
                            decimal totalBlence = 0;

                            @if (Model.paymentList != null)
                            {
                                @foreach (var item in Model.paymentList)
                                {
                                    @if (item.BillingType == HospitalMgrSystem.Model.Enums.BillingType.BALENCE)
                                        totalBlence = totalBlence + item.CashAmount;
                                    @if (item.BillingType == HospitalMgrSystem.Model.Enums.BillingType.CASHIER)
                                        totalCash = totalCash + item.CashAmount + item.CreditAmount + item.DdebitAmount + item.ChequeAmount + item.GiftCardAmount;
                                }
                            }
                            <tr>
                                <td style="text-align : center; "></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td style="text-align : center; "></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Total Hospital Chargers:</td>
                                <td><hr>Rs.@Model.hospitalFee.ToString("0.00") </td>
                            </tr>
                            <tr>
                                    <td>Total Consultant Chargers:</td>
                                    <td>Rs.@Model.TotalcounsultantAmount.ToString("0.00")</td>
                            </tr>
                            <tr>
                                <td style="text-align : center; "></td>
                                <td></td>
                            </tr>
                            <tr>
                                    <td style="text-align : right; font-weight:bold">Sub total:</td>
                                <td><hr>Rs.@Model.preSubtotal.ToString("0.00")</td>
                            </tr>
                            @if (Model.discount != 0)
                            {
                                <tr>
                                        <td style="text-align : right;font-weight:bold">Discount Amount:</td>
                                    <td>Rs.@Model.discount.ToString("0.00")</td>
                                </tr>
                            }
                                @if (Model.refunfAmount != 0)
                                {
                                    <tr>
                                        <td style="text-align : right;font-weight:bold">Refund Amount:</td>
                                        <td>Rs.@Model.refunfAmount.ToString("0.00")</td>
                                    </tr>
                                }
                            <tr>
                                    <td style="text-align : right; font-weight:bold">Net Total:</td>
                                <td>Rs.@Model.preTotal.ToString("0.00")</td>
                            </tr>
                            <tr>
                                    <td style="text-align : right; font-weight:bold">Cash Payment:</td>
                                <td>Rs.@totalCash.ToString("0.00")<hr></td>
                            </tr>
                            <tr>
                                <td style="text-align : right; font-weight:bold">Balance:</td>
                                <td><hr>Rs.@(Math.Abs(totalBlence).ToString("0.00"))<hr><hr></td>
                            </tr>
                        }
                    </tbody>

                </table>
                </div>
                <div id="barcodeTrueCopy">
                    <svg id="barcodeSvgTrueCopy"></svg>
                </div>
                @if (Model.totalDueAmount <= 0)
                {

                }
                @if (Model.totalDueAmount >= 0)
                {

                }
               
            }
        }
    </div>



   
</body>
</html>
