@using Microsoft.Extensions.Configuration
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CashierDto;
@{
    Layout = null;
}
@inject IConfiguration Configuration

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }

        #logo {
            text-align: center;
        }

        #address {
            text-align: center;
        }

        hr {
            border: 1px solid #000;
        }

        #patient-details {
            text-align: left;
            margin: 10px 0;
            font-size: 9px;
        }

        table {
            max-width: 350px;
            border-collapse: collapse;
            table-layout: fixed;
        }

        table, th, td {
            border: none;
            font-size: 12px;
        }

            table th {
                background-color: #f0f0f0;
            }

        #total-section {
            text-align: right;
            margin: 10px 0;
        }

        #barcode {
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="receipt">
        <div id="logo">
            <img src="https://kumuduhospital.com/assets/images/kumudu_logo2.jpg" alt="Logo" width="100">
        </div>
        <div id="address">
            No 48, Kandy Road, Mathale,<br>
            Tel: 066 22 22 2444 | 066 22 30 027<br>
            @if (Model != null)
            {
                <input type="hidden" id="opid" asp-for="PreID" value="@Model.PreID">
                @Model.invoice.ModifiedDate

                <br>
                @if (Model.cashierBillingItemDtoList != null)
                {
                    @if (Model.invoiceType == HospitalMgrSystem.Model.Enums.InvoiceType.OPD)
                    {
                        @if (Model.opd != null && Model.opd.Description == "X-RAY")
                        {
                            <h5 style="margin: 0; padding: 0;"> @Model.opd.Description</h5>
                        }
                        else
                        {
                            <h5 style="margin: 0; padding: 0;">OPD Bill</h5>
                        }
                       
                    }

                    @if (Model.invoiceType == HospitalMgrSystem.Model.Enums.InvoiceType.CHE)
                    {
                        <h5 style="margin: 0; padding: 0;">Channeling Bill</h5>
                    }
                    @if (Model.invoiceType == HospitalMgrSystem.Model.Enums.InvoiceType.ADM)
                    {
                        <h5 style="margin: 0; padding: 0;"></h5>
                    }
                }
            }
        </div>
        <hr>
        
        @if (Model.cashierBillingItemDtoList != null)
        {
            @if (Model.invoiceType == HospitalMgrSystem.Model.Enums.InvoiceType.OPD)
            {
                @if (Model.opd != null && Model.opd.Description == "X-RAY")
                {
                    <h5 style="margin: 0; padding: 0;">Ref No:XRAY-@Model.opd.Id</h5>
                }
                else
                {
                    <h5 style="margin: 0; padding: 0;">Ref No:OPD-@Model.opd.Id</h5>
                }

            }

            @if (Model.invoiceType == HospitalMgrSystem.Model.Enums.InvoiceType.CHE)
            {

                    <h5 style="margin: 0; padding: 0;">Ref No:CHE-@Model.opd.Id</h5>
                
            }
            @if (Model.invoiceType == HospitalMgrSystem.Model.Enums.InvoiceType.ADM)
            {

                    <h5 style="margin: 0; padding: 0;">Ref No:ADM-@Model.opd.Id</h5>
                
            }
        }

        <hr>
        @if (Model != null)
        {

            <table id="patient-details" style="margin-right: auto;">
                <tr>
                    <td style="text-align: left;">Patient Name:</td>
                    <td style="text-align: left;">@Model.customerName</td>
                </tr>
                <tr>
                    <td style="text-align: left;">Age:</td>
                    <td style="text-align: left;">@Model.patientAge</td>
                </tr>
                <tr>
                    <td style="text-align: left;">Gender:</td>
                    <td style="text-align: left;">@Model.patientSex</td>
                </tr>
                <tr>
                    <td style="text-align: left;">Phone No:</td>
                    <td style="text-align: left;">@Model.patientContactNo</td>
                </tr>
                <tr>
                    <td style="text-align: left;">Doctor Name:</td>
                    <td style="text-align: left;">@Model.consaltantName</td>
                </tr>
                @if (Model.invoiceType == HospitalMgrSystem.Model.Enums.InvoiceType.CHE)
                {
                    <tr>
                        <td style="text-align: left;">No:</td>
                        <td style="text-align: left;">@Model.opd.AppoimentNo</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">Time:</td>
                        <td style="text-align: left;">@Model.opd.DateTime</td>
                    </tr>
                }
            </table>

            <hr>
            @if (Model.cashierBillingItemDtoList != null)
            {
                <table>
                    <tr>
@*                        @if (Model.invoiceType == HospitalMgrSystem.Model.Enums.InvoiceType.OPD)
                        {
                            <th>No.</th>
                            <th>Item</th>
                            <th>Price</th>
                            <th>Qty</th>
                            <th>Total</th>
                        }*@

                        @if (Model.invoiceType == HospitalMgrSystem.Model.Enums.InvoiceType.CHE)
                        {

                        }
                        @if (Model.invoiceType == HospitalMgrSystem.Model.Enums.InvoiceType.ADM)
                        {

                        }
                    </tr>
                    @if (Model.invoiceType == HospitalMgrSystem.Model.Enums.InvoiceType.OPD)
                    {
                        var rowNumber = 1;
                        decimal itemAmmount = 0;
                        decimal hospitalFee = 0;
                        @foreach (var item in Model.cashierBilledItemDtoList)
                        {
                            @if(item.amount > 0){
                @*                <tr>
                                    <td>@rowNumber</td>
                                    <td>
                                        <div>
                                            <h6 style="margin: 2px; padding: 2px; font-size: 10px; text-align: left;">@item.billingItemName </h6>*@
                                            @*                         <p style="margin: 0; padding: 0; font-size: 8px;">(@item.billingItemsTypeName)</p>*@
                @*                        </div>
                                    </td>

                                    <td>@item.price.ToString("0.#")</td>
                                    <td>@item.qty.ToString("0.#")</td>
                                    <td class="text-end">@item.amount.ToString("0.#")</td>
                                </tr>*@
                                if (item.billingItemsType == HospitalMgrSystem.Model.Enums.BillingItemsType.Hospital){
                                    hospitalFee = item.amount;
                                }else{
                                    itemAmmount = itemAmmount + item.amount;
                                }
                                rowNumber++;
                            }

                        }

                        <tr>
                            <td style="margin: 2px; padding: 2px; font-size: 10px; text-align: left;">Other Items</td>
                            <td style="margin: 2px; padding: 2px; font-size: 10px; text-align: right;">Rs. @itemAmmount</td>
                        </tr>
                        <tr style="margin-left: auto;">
                            <td style="margin: 2px; padding: 2px; font-size: 10px; text-align: left;">Hospital Fee</td>
                            <td style="margin: 2px; padding: 2px; font-size: 10px; text-align: right;">Rs. @hospitalFee</td>
                        </tr>
                    }
                    @if (Model.invoiceType == HospitalMgrSystem.Model.Enums.InvoiceType.CHE)
                    {

                        @if (Model.opd != null)
                        {
                            <tr>
                                <td style="margin: 2px; padding: 2px; font-size: 10px; text-align: left;">Hospital Fee</td>
                                <td style="margin: 2px; padding: 2px; font-size: 10px; text-align: right;">Rs. @(Model.opd.HospitalFee)</td>
                            </tr>
                            <tr style="margin-left: auto;">
                                <td style="margin: 2px; padding: 2px; font-size: 10px; text-align: left;">Doctor Fee</td>
                                <td style="margin: 2px; padding: 2px; font-size: 10px; text-align: right;">Rs. @(Model.opd.ConsultantFee)</td>
                            </tr>
                        }
                    }
                </table>
                <hr>
                @*                <div id="total-section" style="font-size: 10px;">
        <span style="display: inline-block; width: 150px; text-align: left;">Subtotal:</span>
        <span style="display: inline-block; width: 150px; text-align: right;">@Model.preSubtotal.ToString("0.00") LKR</span>
        <span style="display: inline-block; width: 150px; text-align: left;">Discount:</span>
        <span style="display: inline-block; width: 150px; text-align: right;">@Model.discount.ToString("0.00") LKR</span>
        <span style="display: inline-block; width: 150px; text-align: left;">Total Amount:</span>
        <span style="display: inline-block; width: 150px; text-align: right;">@Model.preTotal.ToString("0.00") LKR</span>
        <span style="display: inline-block; width: 150px; text-align: left;">Cash Payment:</span>
        <span style="display: inline-block; width: 150px; text-align: right;">@Model.preTotal.ToString("0.00") LKR</span>
        <span style="display: inline-block; width: 150px; text-align: left;">Balance:</span>
        <span style="display: inline-block; width: 150px; text-align: right;">0.00 LKR</span>
        @if (Model.invoice.paymentStatus == HospitalMgrSystem.Model.Enums.PaymentStatus.PAID)
        {
        <h5 style="display: inline-block; width: 200px;">PAID</h5>
        }
        else
        {
        <h5 style="display: inline-block; width: 200px;">NOT PAID</h5>
        }
        </div>*@
                <table id="total-section" style="margin-left: auto;">
                    <tr>
                        <td style="text-align: left;">Net total:</td>
                        <td style="text-align: right;">Rs. @Model.preSubtotal.ToString("0.00")</td>
                    </tr>

                    
                        
                        @if (Model != null)
                        {
                            decimal totalCash = 0;
                            decimal totalBlence = 0;
 
                            @if (Model.paymentList != null)
                            { @foreach (var item in Model.paymentList)
                                {
                                 @if(item.BillingType == HospitalMgrSystem.Model.Enums.BillingType.BALENCE)
                                    totalBlence = totalBlence + item.CashAmount;
                                 @if (item.BillingType == HospitalMgrSystem.Model.Enums.BillingType.CASHIER)
                                    totalCash = totalCash + item.CashAmount + item.CreditAmount + item.DdebitAmount + item.ChequeAmount + item.GiftCardAmount;
   
                                }

                            }
                        
                        <tr>
                            <td style="text-align: left;">Cash Payment:</td>
                            <td style="text-align: right;">Rs. @totalCash.ToString("0.00")</td>
                        </tr>
                        <tr>
                        <td style="text-align: left;">Balance:</td>
                            <td style="text-align: right;">Rs. @(Math.Abs(totalBlence).ToString("0.00"))</td>
                        </tr>
                        }

           
                </table>





            }
            <hr>
      @*      <div id="barcode">*@
                @*<div id="qrcode" class="d-flex justify-content-center"></div>*@
@*                <img src="https://png.pngtree.com/png-clipart/20220424/original/pngtree-black-and-white-icons-of-barcode-numbers-png-image_7554658.png" alt="Barcode" width="150">
            </div>*@
        }
        <p>Payment Successfully Completed !</p>
        <h3>Prevention is Better Than Cure</h3>
        <h5>Thank You For Cooperation</h5>
    </div>

    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
    <script type="text/javascript">
        // Call the generateQRCode function when the page loads
        document.addEventListener("DOMContentLoaded", function () {
            generateQRCode(50);
        });

        function generateQRCode(size) {
            var preID = document.getElementById("preID").value;
            console.log("pre ID is" + preID);
            var data = preID;
            const qrcode = new QRCode(document.getElementById("qrcode"), {
                text: data,
                width: size,
                height: size,
            });
        }

        // Rest of your script...
    </script>
</body>
</html>






