@using Microsoft.Extensions.Configuration
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CashierDto;
@{
	Layout = null;
}
@inject IConfiguration Configuration

<!DOCTYPE html>
<html>
<head>
	<style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }

        #logo {
            text-align: center;
        }

        #address {
            text-align: center;
        }

        hr {
            border: 1px solid #000;
        }

        #patient-details {
            text-align: left;
            margin: 10px 0;
            font-size: 9px;
        }

        table {
            max-width: 350px;
            border-collapse: collapse;
            table-layout: fixed;
        }

        table, th, td {
            border: none;
            font-size: 12px;
        }

            table th {
                background-color: #f0f0f0;
            }

        #total-section {
            text-align: right;
            margin: 10px 0;
        }

        #barcode {
            text-align: center;
        }
    </style>
</head>
<body>
<div id="receipt">
	<div id="logo">
		<img src="https://kumuduhospital.com/assets/images/kumudu_logo2.jpg" alt="Logo" width="100">
	</div>
	<div id="address">
		No 48, Kandy Road, Mathale,<br>
		Tel: 066 22 22 2444 | 066 22 30 027<br>
		@if (Model != null)
		{
			<input type="hidden" id="opid" asp-for="PreID" value="@Model.PreID">
			@Model.invoice.ModifiedDate

			<br>
			@if (Model.cashierBillingItemDtoList != null)
			{
				@if (Model.invoiceType == HospitalMgrSystem.Model.Enums.InvoiceType.OPD)
				{
					@if (Model.opd != null && Model.opd.Description == "X-RAY")
					{
						<h4 style="margin: 0; padding: 0;">X-RAY Bill </h4>
						<h4> @(Model.PrintCount > 1 ? "Re-Print (" + Model.PrintCount + ")" : "") </h4>
						<h5 style="margin: 0; padding: 0;">@Model.ItemName</h5>
					}
					else
					{
						<h5 style="margin: 0; padding: 0;">OPD Bill </h5>
						<h4> @(Model.PrintCount > 1 ? "Re-Print (" + Model.PrintCount + ")" : "") </h4>
					}
				}

				@if (Model.invoiceType == HospitalMgrSystem.Model.Enums.InvoiceType.CHE)
				{
					<h4 style="margin: 0; padding: 0;">Channeling Bill </h4>
					<h4> @(Model.PrintCount > 1 ? "Re-Print (" + Model.PrintCount + ")" : "") </h4>
					<h5>@Model.ItemName</h5>
				}

				@if (Model.invoiceType == HospitalMgrSystem.Model.Enums.InvoiceType.ADM)
				{
					<h5 style="margin: 0; padding: 0;"></h5>
				}
			}
		}
	</div>
	<hr>

	@if (Model.cashierBillingItemDtoList != null)
	{
		@if (Model.invoiceType == HospitalMgrSystem.Model.Enums.InvoiceType.OPD)
		{
			@if (Model.opd != null && Model.opd.Description == "X-RAY")
			{
				<h5 style="margin: 0; padding: 0;">Ref No:XRAY-@Model.opd.Id</h5>
			}
			else
			{
				<h5 style="margin: 0; padding: 0;">Ref No:OPD-@Model.opd.Id</h5>
			}
		}

		@if (Model.invoiceType == HospitalMgrSystem.Model.Enums.InvoiceType.CHE)
		{
			<h5 style="margin: 0; padding: 0;">Ref No:CHE-@Model.opd.Id</h5>
		}

		@if (Model.invoiceType == HospitalMgrSystem.Model.Enums.InvoiceType.ADM)
		{
			<h5 style="margin: 0; padding: 0;">Ref No:ADM-@Model.opd.Id</h5>
		}
	}

	<hr>
	@if (Model != null)
	{
		var currentTime = DateTime.Now;

		<table id="patient-details" style="margin-right: auto;">
			<tr>
				<td style="text-align: left;">Patient Name:</td>
				<td style="text-align: left;">@Model.customerName</td>
			</tr>
			<tr>
				<td style="text-align: left;">Phone No:</td>
				<td style="text-align: left;">@(Model.patientContactNo == "" ? "None" : Model.patientContactNo)</td>
			</tr>
			@if (Model.opd != null && Model.opd.Description != "X-RAY")
			{
				<tr>
					<td style="text-align: left;">Doctor Name:</td>
					<td style="text-align: left;">@Model.consaltantName</td>
				</tr>
			}
			@if (Model.ChannelingSchedule != null)
			{
				<tr>
					<td style="text-align: left;">Specialist:</td>
					<td style="text-align: left;">@Model.ChannelingSchedule!.Consultant!.Specialist!.Name</td>
				</tr>
			}

			@if (Model.invoiceType == HospitalMgrSystem.Model.Enums.InvoiceType.CHE)
			{
				<tr>
					<td style="text-align: left;">Appointment No:</td>
					<td style="text-align: left;">@Model.opd!.AppoimentNo</td>
				</tr>
				<tr>
					<td style="text-align: left;">Room No:</td>
					<td style="text-align: left;">@Model.ChannelingSchedule.Room!.Name</td>
				</tr>
				<tr>
					<td style="text-align: left;">Date:</td>
					<td style="text-align: left;">@currentTime</td>
				</tr>
			}
		</table>

		<hr>
		@if (Model.cashierBillingItemDtoList != null)
		{
			<table>
				<tr>
					@if (Model.invoiceType == HospitalMgrSystem.Model.Enums.InvoiceType.CHE)
					{
					}
					@if (Model.invoiceType == HospitalMgrSystem.Model.Enums.InvoiceType.ADM)
					{
					}
				</tr>
				@if (Model.invoiceType == HospitalMgrSystem.Model.Enums.InvoiceType.OPD)
				{
					var rowNumber = 1;
					decimal itemAmmount = 0;
					decimal hospitalFee = 0;
					@foreach (var item in Model.cashierBilledItemDtoList)
					{
						@if (item.amount > 0)
						{
							if (item.billingItemsType == HospitalMgrSystem.Model.Enums.BillingItemsType.Hospital)
							{
								hospitalFee = item.amount;
							}
							else
							{
								itemAmmount = itemAmmount + item.amount;
							}

							rowNumber++;
						}
					}

					<tr>
						<td style="margin: 2px; padding: 2px; font-size: 10px; text-align: left;">Other Items</td>
						<td style="margin: 2px; padding: 2px; font-size: 10px; text-align: right;">Rs. @itemAmmount</td>
					</tr>
					<tr style="margin-left: auto;">
						<td style="margin: 2px; padding: 2px; font-size: 10px; text-align: left;">Hospital Fee</td>
						<td style="margin: 2px; padding: 2px; font-size: 10px; text-align: right;">Rs. @hospitalFee</td>
					</tr>
				}
				@if (Model.invoiceType == HospitalMgrSystem.Model.Enums.InvoiceType.CHE)
				{
					@if (Model.opd != null)
					{
						<tr>
							<td style="margin: 2px; padding: 2px; font-size: 10px; text-align: left;">Hospital Fee</td>
							<td style="margin: 2px; padding: 2px; font-size: 10px; text-align: right;">Rs. @(Model.opd.HospitalFee)</td>
						</tr>
						<tr style="margin-left: auto;">
							<td style="margin: 2px; padding: 2px; font-size: 10px; text-align: left;">Doctor Fee</td>
							<td style="margin: 2px; padding: 2px; font-size: 10px; text-align: right;">Rs. @(Model.opd.ConsultantFee)</td>
						</tr>
						@*<tr style="margin-left: auto;">
	                            <td style="margin: 2px; padding: 2px; font-size: 10px; text-align: left;">Scan Item (@Model.ItemName)</td>
                                <td style="margin: 2px; padding: 2px; font-size: 10px; text-align: right;">Rs. @(Model.opd.ConsultantFee + Model.opd.HospitalFee)</td>
                            </tr>*@
					}
				}
			</table>
			<hr>

			<table id="total-section" style="margin-left: auto;">
				<tr>
					<td style="text-align: left;">Net total:</td>
					<td style="text-align: right;">Rs. @Model.preSubtotal.ToString("0.00")</td>
				</tr>


				@if (Model != null)
				{
					decimal totalCash = 0;
					decimal totalBlence = 0;

					@if (Model.paymentList != null)
					{
						@foreach (var item in Model.paymentList)
						{
							@if (item.BillingType == HospitalMgrSystem.Model.Enums.BillingType.BALENCE)
								totalBlence = totalBlence + item.CashAmount;
							@if (item.BillingType == HospitalMgrSystem.Model.Enums.BillingType.CASHIER)
								totalCash = totalCash + item.CashAmount + item.CreditAmount + item.DdebitAmount + item.ChequeAmount + item.GiftCardAmount;
						}
					}

					<tr>
						<td style="text-align: left;">Cash Payment:</td>
						<td style="text-align: right;">Rs. @totalCash.ToString("0.00")</td>
					</tr>
					<tr>
						<td style="text-align: left;">Balance:</td>
						<td style="text-align: right;">Rs. @(Math.Abs(totalBlence).ToString("0.00"))</td>
					</tr>
				}

			</table>
		}

		<hr>
	}

	<p>Payment Successfully Completed !</p>
</div>

<script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
<script type="text/javascript">
        // Call the generateQRCode function when the page loads
        document.addEventListener("DOMContentLoaded", function () {
            generateQRCode(50);
        });

        function generateQRCode(size) {
            var preID = document.getElementById("preID").value;
            console.log("pre ID is" + preID);
            var data = preID;
            const qrcode = new QRCode(document.getElementById("qrcode"), {
                text: data,
                width: size,
                height: size,
            });
        }
    </script>
</body>
</html>