@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model OtherTransactionsDto
@{
    Layout = null;
}
<script type="text/javascript">
    $(document).ready(function () {
        // Hide dropBenificaryDr by default
        $('#dropBenificaryDr').hide();
    });

    function select_onchange_invoice_type(value) {
        console.log(value);
        if (value != null) {
            

        if (value === "7") {
            // If value is 7, show dropBenificaryDr and hide dropBenificaryOther
            $('#dropBenificaryDr').show();
            $('#dropBenificaryOther').hide();
        } else {
            // If value is not 7, show dropBenificaryOther and hide dropBenificaryDr
            $('#dropBenificaryDr').hide();
            $('#dropBenificaryOther').show();
        }


            $('#hiddenBenificaryID').val(value);
        }
    }

    function select_onchange_benificiary(value) {
        console.log(value);
        if (value != null) {
            $('#hiddenBenificaryID').val(value);
        }
    }
</script>

<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title" id="myLargeModalLabel">Add/Edit</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    </div>
    <form asp-action="CreateNewOtherIncome" method="post">
        <div class="modal-body">
            <input type="hidden" id="custId" >
            <div class="row">
                <input type="hidden" asp-for="otherTransactions.Id">
                <input type="hidden" asp-for="otherTransactions.BeneficiaryID" id="hiddenBenificaryID">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="companyName">Select Session</label>
                        <input class="form-control " type="text" id="" asp-for="sessionDetails" placeholder="Name" disabled/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="companyName">Invoice Type</label>
                        <select class="form-control ddlSearchList" onchange="javascript:select_onchange_invoice_type(this.value);" asp-for="otherTransactions.InvoiceType" id="dropSex">
                            <option value="3">OTHER_INCOME</option>
                            <option value="4">OTHER_EXPENSES</option>
                            <option value="6">CASHIER_TRANSFER_OUT</option>
                            <option value="7">DOCTOR_PAYMENT</option>

                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="companyName">Amount</label>
                        <input class="form-control " type="number" id="txtTelephoneNumber" asp-for="otherTransactions.Amount" placeholder="0.00 LKR" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="companyName">Convener Name</label>
                        <input class="form-control " type="text" id="txtMobileNumber" asp-for="username" placeholder="Name" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="companyName">Beneficiary</label>
                        <select class="form-control ddlSearchList" id="dropBenificaryOther" asp-for="otherTransactions.BeneficiaryID" onchange="javascript:select_onchange_benificiary(this.value);">
                            <option value="0">Select Beneficiary Other</option>
                            @if (Model.benificaryList != null){

                                @foreach (var item in Model.benificaryList)
                                {
                                    <option value="@item.Id">@item.FullName</option>
                                }
                            }

                        </select>
                        <select class="form-control ddlSearchList" id="dropBenificaryDr" asp-for="otherTransactions.BeneficiaryID" onchange="javascript:select_onchange_benificiary(this.value);">
                            <option value="0">Select Beneficiary Dr</option>
                            @if (Model.benificaryDrList != null)
                            {

                                @foreach (var item in Model.benificaryDrList)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            }

                        </select>
                    </div>
                </div>


                <div class="col-md-12">
                    <div class="form-group">
                        <label for="companyName">Description</label>
                        <textarea id="txtAddress" class="form-control " cols="40" rows="5" asp-for="otherTransactions.Description" placeholder="Description"></textarea>
                    </div>
                </div>


            </div>
            

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close</button>
            <button type="submit" class="btn  waves-effect btn-primary"><i class="fa fa-save"></i>&nbsp;Save</button>
        </div>
    </form>
    <div class="modal-body">
        <h4 class="modal-title">Your Cashier Transfer - IN </h4>
    <div class="row">
        <div class="col-md-12">
            <div class="table">
                <table id="myTable" class="table table-striped table-bordered dataTable fonts-12" cellspacing="0" width="100%">
                    <thead>
                        <tr>

                            <th data-orderable="true">Convener</th>
                            <th>Benificary</th>
                            <th>Amount</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="tblBodyPayments">
                        @if (Model != null && Model.benificaryOutTransactionList != null)
                        {

                            @foreach (var item in Model.benificaryOutTransactionList)
                            {
                                <tr>
                                    <td>@item.Convener.FullName</td>

                                    <td>@item.Description</td>

                                    <td>@item.Amount</td>

                                    <td>
                                        @if (Model != null)
                                        {

                                            @using (Html.BeginForm("CashierTransferIN", "OtherIncome", new { Id = @item.Id }, FormMethod.Post))
                                            {

                                                <button id='link_copy' class='btn waves-effect waves-light btn-xs btn-info'><i class='fa fa-plus'></i></button>

                                            }
                                        }

                                    </td>
                                </tr>
                            }


                        }


                    </tbody>
                </table>

            </div>
        </div>  
    <div/>
</div>
    </div>
</div>
<!-- /.modal-content -->
