@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ItemDto;
@{
}
@section Styles {
    <style>
        .select2-selection__rendered {
            line-height: 31px !important;
        }

        .select2-container .select2-selection--single {
            height: 35px !important;
        }

        .select2-selection__arrow {
            height: 34px !important;
        }

        .btn:hover {
            transform: translateY(-2px);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
        }

        /* Primary button (Add Item) */
        .btn-primary {
            background: linear-gradient(150deg, rgba(34,195,55,1) 50%, rgba(0,255,33,1) 80%);
            color: white;
        }

        /* Info button (Add Transfer) */
        .btn-info {
            background: linear-gradient(135deg, rgba(8,0,255,1) 0%, rgba(3,165,255,1) 80%);
            color: white;
        }

        /* Danger button (Add Supplier) */
        .btn-danger {
            background: linear-gradient(135deg, #ff416c, #ff4b2b);
            color: white;
        }

        /* Warning button (Add Purchase Requisition) */
        .btn-warning {
            background: linear-gradient(135deg, #f9d423, #ff4e50);
            color: white;
        }

        .table-success {
            background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(0,255,243,1) 80%);
        }

        .label-success {
            color: #000;
        }



        /*Table*/

        .table tbody tr:hover {
            transform: translateY(-2px);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        .spark-chart.form-material1 {
            display: flex; /* Use flexbox to align buttons horizontally */
            gap: 2px; /* Add space between buttons */
        }

        .dropdown-menu {
            border: none;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        }



        .modal-dialog {
            max-width: 95%; /* Adjust to fit the modal within the screen */
            max-height: 95%; /* Ensure the modal fits vertically */
        }

        .modal-content {
            overflow-y: auto; /* Add scrolling for the modal content */
        }
    </style>
}


<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Manage Items Details</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item active">Manage Items Details</li>
        </ol>
    </div>

    <div class="col-md-7 col-4 align-self-center">
        <div class="d-flex m-t-10 justify-content-end">
            <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                <div class="spark-chart form-material">
                </div>
                <div class="spark-chart form-material">
                    <button type="button" id="btnCreateShift" class="btn waves-effect waves-light btn-block btn-info" onclick="ShowShiftDetails()"><i class="mdi mdi-account-plus"></i>&nbsp;Add New Items </button>






                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Investigation Details</h4>
                @using (Html.BeginForm("Search", "Items", new { value = 100 }, FormMethod.Post))
                {
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group-sm ">
                                <input class="form-control " type="text" id="txtSearch" asp-for="SearchValue" placeholder="Search.." />
                            <label for="StartShiftUtc">&nbsp;</label>

                        </div>
                    </div>
                    <div class="col-md-2" id="divLoader">
                        <div class="form-group-sm ">
                            <button type="submit" class="btn btn btn-primary" id="btnfilter" data-toggle="tooltip" data-placement="top" title="Filter Records By Date Range"><i class="fa fa-filter"></i> &nbsp;Filter</button>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group mt-4-q">

                        </div>
                    </div>
                </div>
                }
                <div class="row"></div>
                <div class="table-responsive">
                    <table id="basic-2" class="display">
                        <thead>
                            <tr>

                                <th data-orderable="true">SNo</th>
                                <th>Type</th>
                                <th>Category</th>
                                <th>Type</th>
                                <th>Item Name</th>
                                <th>Price</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="">
                            @foreach (var item in Model.ItemList)
                            {
                                <tr>


                                    <td>@item.SNo</td>
                                    <td>@item.Type</td>
                                    <td>
                                        @if (item.ItemCategory != null)
                                        {
                                            @item.ItemCategory.ItemCategoryName
                                        }
                                    </td>
                                    
                                    <td>@item.ItemName</td>

                                    <td>@item.Price</td>
                                    <td>
                                        <button id='btnEdit' class='btn waves-effect waves-light btn-xs btn-success' onclick=ShowShiftDetails(@item.Id);><i class='fa fa-edit'></i></button>  &nbsp;
                                    </td>

                                    <td>
                                        @if (Model != null)
                                        {

                                            @using (Html.BeginForm("DeleteItem", "Items", new { Id = @item.Id }, FormMethod.Post))
                                            {

                                                <button id='link_copy' class='btn waves-effect waves-light btn-xs btn-danger'><i class='fa fa-trash'></i></button>

                                            }
                                        }

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="AddShiftModel" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg" id="AddEditContainerModel">
    </div>
</div>


@section scripts{
    <script>
        function ShowShiftDetails(Id) {

            $.ajax({
                type: "POST",
                url: "/Items/CreateItem/" + Id,
                data: '{customerId: 100 }',
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $("#AddEditContainerModel").html(response);
                    $("#AddShiftModel").modal('show');
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });

        }

    </script>
}