@using Microsoft.Extensions.Configuration
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model AdmissionDto;
@{
}
@inject IConfiguration Configuration
<script type="text/javascript">
    function select_onchange(value) {

        const commonUrl = @Json.Serialize(@Configuration.GetSection("MainAPI").GetSection("APIURL").Value);
        var itenNo = document.getElementById("consultant").value;
        var settings = {
            "url": commonUrl + "Consultant/GetAllConsultantByID?Id=" + itenNo,
            "method": "GET",
            "headers": {
                "Accept": "application/json",
                "Content-Type": "application/json"
            },
        };

        $.ajax(settings).done(function (response) {
            console.log(response);
            console.log(response.price);
            document.getElementById("txtPrice").value = response.price.toFixed(2);

            var qty = document.getElementById("txtQty").value;
            var price = document.getElementById("txtPrice").value;
            amount = qty * price;
            document.getElementById("txtAmount").value = amount.toFixed(2);

        });
    }

</script>

<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title" id="myLargeModalLabel">Add/Edit Consultants  </h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    </div>
  
    <div class="modal-body">

        <form asp-action="AddNewConsultant" method="post">
        <input type="hidden" id="custId" asp-for="AdmissionsId">
        <div class="row">

 
     
               
            <div class="col-md-4">
                <div class="form-group">
                    <label for="companyName">Type</label>
                    <select class="form-control ddlSearchList" name="cars" id="cars">
                        <option value="1">Consultants</option>
                        <option value="2">Other Doctors</option>
                        <option value="3">Special Attendants</option>
                    </select>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                        <label for="companyName">Name of Consultants </label>
                    <select class="form-control ddlSearchList" onchange="javascript:select_onchange(this.value);" asp-for="AdmissionConsultants.ConsultantId" id="consultant">
                        <option value="0">Name of Consultant</option>
                        @foreach (var item in Model.consultants)
                        {
                            <option value="@item.Id">@item.Name - @item.Specialist.Name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="companyName">Qty </label>
                        <input class="form-control " type="text" id="txtQty" asp-for="AdmissionConsultants.Qty" value="1.00" onkeyup="javascript:select_onchange();" placeholder="Qty" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="companyName">Price</label>
                    <input class="form-control" id="txtPrice" type="text" value="1.00" placeholder="Price" asp-for="AdmissionConsultants.Price"/>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="companyName">Amount</label>
                        <input class="form-control " type="text" id="txtAmount" asp-for="AdmissionConsultants.Amount" value="0.00" placeholder="Amount" />
                </div>
            </div>
              
        </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close</button>
                <button type="submit" class="btn  waves-effect btn-primary"><i class="fa fa-save"></i>&nbsp;Save</button>
            </div>
    </form>
    </div>
    <div class="modal-footer">
       
        <div class="col-md-12">
            <div class="table-responsive">
                <table id="myTable" class="table table-striped table-bordered dataTable fonts-12" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Consultant Name</th>
                            <th>Price</th>
                            <th>Qty</th>
                            <th>Amount</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="tblBodyPayments">
                        @foreach (var item in Model.AdmissionConsultantList)
                        {
                            <tr>


                                <td>@item.Consultant.Name</td>

                                <td>@item.Qty</td>

                                <td>@item.Price</td>
                                <td>@item.Amount</td>

                                <td>
                                    @if (Model != null)
                                    {

                                        @using (Html.BeginForm("DeleteAdmissionConsultant", "Admission", new { Id = @item.Id }, FormMethod.Post))
                                        {

                                            <button id='link_copy' class='btn waves-effect waves-light btn-xs btn-danger'><i class='fa fa-trash'></i></button>

                                        }
                                    }

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>