@using Microsoft.Extensions.Configuration
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model OPDDto;
@{
    Layout = null;
}
@inject IConfiguration Configuration
<script type="text/javascript">


    var opdId = @Html.Raw(Json.Serialize(Model.opdId));
    var fullName = @Html.Raw(Json.Serialize(Model.name));
    var age = @Html.Raw(Json.Serialize(Model.age));
    var sex = @Html.Raw(Json.Serialize(Model.sex == 1 ? "Male" : Model.sex == 2 ? "Female" : "None"));
    var telephoneNumber = @Html.Raw(Json.Serialize(Model.phone));

    function generateQRCode(size) {
        console.log("generate QR");
        // Concatenate the variables to form the data
        var data = "OPD" + opdId.toString();

        const qrcode = new QRCode(document.getElementById("qrcode"), {
            text: data,
            width: size,
            height: size,
        });
    }

    function printQRCode() {
        var currentDate = new Date();

        const printWindow = window.open("", "Print QR Code", "width=400,height=400");

        printWindow.document.write('<div style="text-align: center; font-weight: bold;">Kumudu Hospital</div>');
        printWindow.document.write('<div style="text-align: center; font-weight: bold;">(PVT) LTD</div>');
        printWindow.document.write('<div style="text-align: center;">' + currentDate.toLocaleString() + '</div>');

        // QR Code image with reduced size
        var imageSize = 100; // Set your desired image size here
        printWindow.document.write('<div style="text-align: center; margin: 5px; padding: 5px;">');
        printWindow.document.write('<img src="' + document.getElementById("qrcode").getElementsByTagName("img")[0].src + '" width="' + imageSize + '" height="' + imageSize + '">');
        printWindow.document.write('</div>');

        // Variables data in a table
        printWindow.document.write('<div style="text-align: center;">');
        printWindow.document.write('<table style="margin: auto;">');
        printWindow.document.write('<tr><td>OPD:</td><td>' + opdId + '</td></tr>');
        printWindow.document.write('<tr><td>Name:</td><td>' + fullName + '</td></tr>');
        printWindow.document.write('<tr><td>Age:</td><td>' + age + '</td></tr>');
        printWindow.document.write('<tr><td>Sex:</td><td>' + sex + '</td></tr>');
        printWindow.document.write('<tr><td>Telephone:</td><td>' + telephoneNumber + '</td></tr>');
        printWindow.document.write('</table>');
        printWindow.document.write('</div>');

        printWindow.document.close();
        printWindow.print();


        // Reload the page after printing
        printWindow.onafterprint = function () {
            console.log("Reload the page after printing");
            printWindow.close();
            location.reload();
        };

    }

    document.addEventListener('keydown', function (event) {
        // You can change 'Enter' to any key you want to trigger the function
        if (event.key === 'Enter') {
            // Call your function here
            printQRCode();
        }
    });

    generateQRCode(200)

</script>
<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title" id="myLargeModalLabel">QR</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    </div>

    <div class="modal-body">
        <div id="qrcode" class="d-flex justify-content-center"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Close</button>
        <button type="submit" class="btn  waves-effect btn-primary" onclick=printQRCode();><i class="fa fa-save"></i>&nbsp;Print</button>
    </div>

</div>