@using Microsoft.Extensions.Configuration
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model OPDDto;
@{
}
@inject IConfiguration Configuration
@section Styles {
    <style>
        .select2-selection__rendered {
            line-height: 31px !important;
        }

        .select2-container .select2-selection--single {
            height: 35px !important;
        }

        .select2-selection__arrow {
            height: 34px !important;
        }
    </style>
}
<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Manage OPD Details</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item active">Manage OPD Details</li>
        </ol>
    </div>

    <div class="col-md-7 col-4 align-self-center">
        <div class="d-flex m-t-10 justify-content-end">
            <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                <div class="spark-chart form-material">
                    <ol class="list-unstyled d-flex">
                        <li class="mr-2">
                            <button onclick="changeShift()" class="btn waves-effect btn-primary" value="@Model.isNightShift" id="shiftButton"><i class="fa-solid fa-moon"></i>&nbsp; Day shift</button>
                        </li>
                        <li>
                            <button type="button" id="btnCreateShift" class="btn waves-effect waves-light btn-block btn-info" onclick="ShowShiftDetails()">&nbsp;Add New OPD</button>
                        </li>
                    </ol>
                </div>

            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="modal-body">
                <form asp-action="filterForm" method="post">
                    <input type="hidden" id="opid" asp-for="opdId">
                    <div class="row">

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="companyName">Start Date</label>
                                <input type="text" id="date-format-start" asp-format="{0:yyyy.MM.dd}" class="form-control" asp-for="StartTime" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="companyName">End Date</label>
                                <input type="text" id="date-format-end" asp-format="{0:yyyy.MM.dd}" class="form-control" asp-for="EndTime" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="companyName">Session</label>
                                <select class="form-control ddlSearchList" id="dropSessionType" asp-for="sessionType">
                                    <option value="-1">All</option>
                                    <option value="0">Morning</option>
                                    <option value="1">Day</option>
                                    <option value="2">Night</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="companyName">Paid Status</label>
                                <select class="form-control ddlSearchList" id="dropPaidStatus" asp-for="paidStatus">
                                    <option value="-1">All</option>
                                    <option value="0">PAID</option>
                                    <option value="1">PARTIAL PAID</option>
                                    <option value="2">NEED TO PAY</option>
                                    <option value="3">OPD</option>
                                    <option value="4">NOT PAID</option>
                                </select>
                            </div>
                        </div>

                    </div>



                    <div class="modal-footer d-flex justify-content-between">
                        <div class="spark-chart form-material">
                            <ol class="list-unstyled d-flex">
                                <li class="mr-2">
                                    <button class="btn waves-effect btn-info"><i class="fa-solid fa-moon"></i>&nbsp; Today</button>
                                </li>

                                <li class="mr-2">
                                    <button class="btn waves-effect btn-info"><i class="fa-solid fa-moon"></i>&nbsp; Yesterday</button>
                                </li>
                                <li class="mr-2">
                                    <button class="btn waves-effect btn-info"><i class="fa-solid fa-moon"></i>&nbsp; Last Week</button>
                                </li>
                                <li class="mr-2">
                                    <button class="btn waves-effect btn-info"><i class="fa-solid fa-moon"></i>&nbsp; Last Month</button>
                                </li>
                            </ol>
                        </div>
                        <div>
                            <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal" onclick="handleClear()">&nbsp;Clear</button>
                            <button type="submit" class="btn waves-effect btn-primary"><i class="fa fa-save"></i>&nbsp;Filter</button>
                        </div>
                    </div>




                </form>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="modal-body" id="AddEditContainerModel">
  
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">OPD Details</h4>
                <input type="hidden" id="isPOP" asp-for="isPoP">
                <input type="hidden" id="isId" asp-for="opdId">
                <div class="table-responsive">
                    <table id="basic-2" class="display">
                        <thead>
                            <tr>


                                <th>Pt's Full Name</th>
                                <th>Payment Status</th>
                                <th>Consultant</th>
                                <th>contact no</th>
                                <th>Date & Time</th>
                                <th>Print</th>
                                <th>Action 1</th>
                                <th>Action 2</th>
                                <th>Action 3</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                decimal? totalAmount = 0;
                            }
                            @if (Model.listOPDTbDto != null)
                            {

                                @foreach (var item in Model.listOPDTbDto)
                                {
                                    <tr>
                                        <td>@item.FullName</td>
                                        <td>@item.paymentStatus</td>
                                        <td>
                                            @if (item.consaltantName != null)
                                            {
                                                @item.consaltantName
                                            }
                                        </td>
                                        @* @{
                                string sex = "";
                                if (item.Sex == HospitalMgrSystem.Model.Enums.SexStatus.Male)
                                {
                                sex = "Male";
                                }
                                else if (item.Sex == HospitalMgrSystem.Model.Enums.SexStatus.Female)
                                {
                                sex = "Female";
                                } else
                                {
                                sex = "Non";
                                }
                                } *@
                                        <td>@item.MobileNumber</td>
                                        <td>@item.DateTime</td>
                                        <td>
                                            <button id='btnEdit1' class='btn waves-effect waves-light btn-xs btn-primary' onclick=ShowQR(@item.Id);><i class='fa fa-print'></i></button>
                                        </td>
                                        <td>
                                            <button id='btnEdit1' class='btn waves-effect waves-light btn-xs btn-info' onclick=ShowShiftDetails(@item.Id);><i class='fa fa-eye'></i></button>  &nbsp;
                                        </td>
                                        <td>
                                            @if (Model != null)
                                            {
                                                <a href="/Cashier?PreID=OPD+@item.Id"><button id='link_copy' class='btn waves-effect waves-light btn-xs btn-info'><i class='fa fa-money'></i></button></a>
                                            }

                                        </td>
                                        <td>
                                            @if (Model != null)
                                            {

                                                @using (Html.BeginForm("DeleteOPD", "OPDRegistration", new { Id = @item.Id }, FormMethod.Post))
                                                {

                                                    <button id='link_copy' class='btn waves-effect waves-light btn-xs btn-danger'><i class='fa fa-trash'></i></button>

                                                }
                                            }

                                        </td>


                                    </tr>
                                    @if (item.TotalAmount != null)
                                    {
                                        totalAmount = totalAmount + item.TotalAmount;
                                    }

                                }
                            }

                            @*                            @if (totalAmount != null)
                            {
                            <tr>
                            <td colspan="3"></td>
                            <td colspan="2">Total Amount</td>
                            <td colspan="2">@totalAmount</td>
                            <td colspan="3"></td>
                            </tr>
                            }*@


                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
@* <div id="AddShiftModel" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg" id="AddEditContainerModel">
    </div>
</div> *@
<div id="AddShiftModel2" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg" id="AddEditContainerModel2">
    </div>
</div>



@section scripts {

    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
    <script>
        var patientsList;
        var consaltantList;
        var drugusList = [];
        var total = 0;

        function changeShift() {
            var isNightShift = document.getElementById("shiftButton").value;

            console.log(isNightShift);

            $.ajax({
                type: "POST",
                url: "/OPDRegistration/ChangeShift/",
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    window.location.href = '/OPDRegistration/Index';
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }

        function handleOPDTypeChange() {
            var dropDoctor = document.getElementById('dropDoctor');

            if (dropDoctor.value == 82) {
                document.getElementById('hospitalFeeInput').value = 0;
            } else {
                document.getElementById('hospitalFeeInput').value = 700;
            }
        }

        $(document).ready(function () {

            var isPOPValue = @Html.Raw(Json.Serialize(Model.isPoP));
            console.log("isPOPValue : " + isPOPValue);

            //if (isPOPValue === 0) {
            //    ShowShiftDetails(0);
            //}

            var isNightShift = document.getElementById("shiftButton").value;

            if (isNightShift == "NIGHT_SHIFT") {
                document.getElementById("shiftButton").innerHTML = "<i class='fa-solid fa-sun'></i>&nbsp; Night shift";
            } else {
                document.getElementById("shiftButton").innerHTML = "<i class='fa-solid fa-moon'></i>&nbsp; Day shift";
            }
        });

        document.addEventListener('keydown', function (event) {
            // You can change 'Enter' to any key you want to trigger the function
            if (event.key === 'Escape') {
                // Call your function for Escape key
                 handleClear();
            } 
        });


        function handleClear() {
            window.location.href = '/OPDRegistration/';
        }


        function ShowShiftDetails(id) {

            console.log(id);

            $.ajax({
                type: "POST",
                url: "/OPDRegistration/CreateOPDReg/" + id,
                data: { id: 101 },
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $("#AddEditContainerModel").html(response);
                    //$("#AddShiftModel").modal('show');

                    //patient dropdown
                    $('#dropPatient').select2({
                        width: '100%',
                        height: "auto !important",
                        dropdownCssClass: "bigdrop",
                        placeholder: 'Select one',
                        dropdownParent: $('#newOpdFrm'),
                        allowClear: false,
                        tags: true,
                        createTag: function (params) {
                            return params.term.trim() !== '' ? {
                                id: 0,
                                text: params.term,
                                newTag: true
                            } : null;
                        }
                    });

                    //doctor dropdown
                    $('#dropDoctor').select2({
                        width: '100%',
                        height: "auto !important",
                        dropdownCssClass: "bigdrop",
                        placeholder: 'Select',
                        dropdownParent: $('#newOpdFrm'),
                        allowClear: false
                    });

                    //drug dropdown
                    $("#drugus").select2({
                        width: '100%',
                        height: "auto !important",
                        dropdownCssClass: "bigdrop",
                        dropdownParent: $('#newOpdFrm'),
                        allowClear: false
                    });

                    $('#dropDoctor').val($('#dropDoctor option:first').val()).trigger('change')

                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });

        }

        function matchCustom(params, data) {
            // If there are no search terms, return all of the data
            if ($.trim(params.term) === '') {
                return data;
            }

            // Do not display the item if there is no 'text' property
            if (typeof data.text === 'undefined') {
                return null;
            }

            // Check if the search term matches the name or contact number
            var searchTerm = params.term.toLowerCase();

            if (data.fullName.toLowerCase().includes(searchTerm) || data.mobileNumber.toLowerCase().startsWith(searchTerm)) {
                return data;
            }

            // Return `null` if the term should not be displayed
            return null;
        }

        function matchCustom2(params, data) {
            // If there are no search terms, return all of the data
            if ($.trim(params.term) === '') {
                return data;
            }

            // Do not display the item if there is no 'text' property
            if (typeof data.text === 'undefined') {
                return null;
            }

            // Check if the search term matches the name or contact number
            var searchTerm = params.term.toLowerCase();

            if (data.name.toLowerCase().startsWith(searchTerm) || data.contactNumber.toLowerCase().startsWith(searchTerm)) {
                return data;
            }

            // Return `null` if the term should not be displayed
            return null;
        }




        function select_onchange_patient(value) {

            var settings = {
                url: "/OPDRegistration/LoadPatientsAjax/" + value,
                "method": "GET",
                "headers": {
                    "Accept": "application/json",
                    "Content-Type": "application/json"
                },
            };



            $.ajax(settings).done(function (response) {
                console.log(response);
                var data = response;

                if (data != null) {
                    $('#txtMobileNumber').val(data.mobileNumber);
                    $('#dropSex').val(data.sex);
                    $('#txtAge').val(data.age);
                }

            });
        }



        function select_onchange_drug(value) {
            const commonUrl = @Json.Serialize(@Configuration.GetSection("MainAPI").GetSection("APIURL").Value);
            var itenNo = document.getElementById("drugus").value;
            var settings = {
                "url": commonUrl + "Drugs/GetAllDrugByID?Id=" + itenNo,
                "method": "GET",
                "headers": {
                    "Accept": "application/json",
                    "Content-Type": "application/json"
                },
            };

            $.ajax(settings).done(function (response) {
                console.log(response);
                console.log(response.price);
                document.getElementById("txtPrice").value = response.price.toFixed(2);

                var qty = document.getElementById("txtQty").value;
                var price = document.getElementById("txtPrice").value;
                amount = qty * price;
                document.getElementById("txtAmount").value = amount.toFixed(2);

            });
        }

        function select_onchange_qty(value) {
            var qty = document.getElementById("txtQty").value;
            var price = document.getElementById("txtPrice").value;
            amount = qty * price;
            document.getElementById("txtAmount").value = amount.toFixed(2);
        }

        function addDrugusItem() {
            // var opdID = document.getElementById("opid").value;
            var drugId = document.getElementById("drugus").value;
            var qty = document.getElementById("txtQty").value;
            var price = document.getElementById("txtPrice").value;
            var amount = qty * price;
            total = total + amount;

            let newTotal = parseInt($("#total").val());
            newTotal += amount;
            $("#total").val(newTotal);

            var docId = $("#dropDoctor").val() == null ? $("#selectedDoctorId").attr("name") : $("#dropDoctor").val();
            var doctortID = parseInt(docId);
            let hospitalCharges = doctortID == 82 ? 0 : 700;
            $("#hospitalCharges").val(hospitalCharges)

            let subTotal = newTotal + hospitalCharges;
            $("#subTotal").val(subTotal);

            // document.getElementById("total").value = total;

            console.log(total);

            // Create a new drugus item and add it to the list
            var drugusItem = {
                DrugId: drugId,
                Qty: qty,
                Price: price,
                Amount: amount

            };
            drugusList.push(drugusItem);

            // Append the item to the table
            var tableBody = document.getElementById("tblBodyPayments2");
            var newRow = tableBody.insertRow();
            var cell1 = newRow.insertCell(0);
            var cell2 = newRow.insertCell(1);
            var cell3 = newRow.insertCell(2);
            var cell4 = newRow.insertCell(3);
            var cell5 = newRow.insertCell(4);

            cell1.innerHTML = document.getElementById("drugus").options[document.getElementById("drugus").selectedIndex].text;
            cell2.innerHTML = qty;
            cell3.innerHTML = price;
            cell4.innerHTML = amount;

            // Add a delete button for each row
            var deleteButton = document.createElement("button");
            deleteButton.className = "btn waves-effect waves-light btn-xs btn-danger";
            deleteButton.innerHTML = "<i class='fa fa-trash'></i>";
            deleteButton.onclick = function () {
                // Find the closest row and delete it
                var rowIndex = this.closest("tr").rowIndex;
                drugusList.splice(rowIndex - 1, 1);
                tableBody.deleteRow(rowIndex - 1);

                // Update the total
                let total = $("#total").val()
                total -= amount;
                $("#total").val(total);
            };
            cell5.appendChild(deleteButton);

            // Clear input fields
            document.getElementById("drugus").value = "0";
            document.getElementById("txtQty").value = "0.00";
            document.getElementById("txtPrice").value = "0.00";
            document.getElementById("txtAmount").value = "0.00";
        }


        function submitDrugusItems() {

            var fullName = $('#dropPatient option:selected').text();
            var patientID = $('#dropPatient').val();
            var contactNo = $('#txtMobileNumber').val();
            var sex = $('#dropSex').val();
            var age = $('#txtAge').val();
            // selectedDoctorId

            var docId = $("#dropDoctor").val() == null ? $("#selectedDoctorId").attr("name") : $("#dropDoctor").val();
            var doctortID = parseInt(docId);
            var opdID = $('#opdIndexNumber').val();
            var opdType = parseInt(docId) == 82 ? 0 : 1;

            var patientObject = {
                Id: patientID,
                FullName: fullName,
                MobileNumber: contactNo,
                Age: age,
                Sex: sex
            };

            var opdObject = {
                Id: opdID,
                ConsultantID: doctortID
            };


            var opdDtoObject = {
                patient: patientObject,
                OPDDrugusList: drugusList,
                opd: opdObject,
                OpdType: opdType,
            };

            var jsonOb = JSON.stringify(opdDtoObject);
            // console.log(jsonOb);
            console.log(opdDtoObject);


            $.ajax({
                url: '/OPDRegistration/AddNewOPD', // Adjust the URL based on your actual route
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(opdDtoObject),
                success: function (data) {
                    drugusList = [];
                    document.getElementById("tblBodyPayments2").innerHTML = "";
                    // Handle success, e.g., redirect to another page
                    window.location.href = '/OPDRegistration/Index';

                },
                error: function (error) {
                    // Handle error
                    console.error('Error submitting drugus items:', error);
                }
            });

        }

        function submitDrugusItemsWithQR() {

            var fullName = $('#dropPatient option:selected').text();
            var patientID = $('#dropPatient').val();
            var contactNo = $('#txtMobileNumber').val();
            var sex = $('#dropSex').val();
            var age = $('#txtAge').val();

            var docId = $("#dropDoctor").val() == null ? $("#selectedDoctorId").attr("name") : $("#dropDoctor").val();
            var doctortID = parseInt(docId);
            var opdID = $('#opdIndexNumber').val();
            var opdType = parseInt(docId) == 82 ? 0 : 1;

            var patientObject = {
                Id: patientID,
                FullName: fullName,
                MobileNumber: contactNo,
                Age: age,
                Sex: sex
            };

            var opdObject = {
                Id: opdID,
                ConsultantID: doctortID,
                OpdType: opdType
            };


            var opdDtoObject = {
                patient: patientObject,
                OPDDrugusList: drugusList,
                opd: opdObject
            };
            var jsonOb = JSON.stringify(opdDtoObject);
            console.log(jsonOb);
            $.ajax({
                url: '/OPDRegistration/AddNewOPDWithQR', // Adjust the URL based on your actual route
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(opdDtoObject),
                success: function (data) {
                    drugusList = [];
                    document.getElementById("tblBodyPayments2").innerHTML = "";
                    var opdId = @Html.Raw(Json.Serialize(Model.opdId));

                    $("#AddEditContainerModel").html(data);
                },
                error: function (error) {
                    // Handle error
                    console.error('Error submitting drugus items:', error);
                }
            });
        }


        $('body').on('focus', "#date-format", function () {

            $('#date-format').bootstrapMaterialDatePicker({
                time: true,
                format: "YYYY-MM-DD hh:mm"

            });

        });

        $('body').on('focus', "#date-format-start", function () {

            $('#date-format-start').bootstrapMaterialDatePicker({
                time: false,
                format: "YYYY-MM-DD"

            });

        });
        $('body').on('focus', "#date-format-end", function () {

            $('#date-format-end').bootstrapMaterialDatePicker({
                time: false,
                format: "YYYY-MM-DD"

            });

        });
        function ShowQR(id) {
            console.log(id)
            $.ajax({
                type: "POST",
                url: "/OPDRegistration/OpenQR/" + id,
                data: '{customerId: 100 }',
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $("#AddEditContainerModel").html(response);
                    $("#AddShiftModel").modal('show');
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });

        }
    </script>



}