@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ChannelingSheduleDto
@{
}

@section Styles {
    <style>
        .select2-selection__rendered {
            line-height: 31px !important;
        }

        .select2-container .select2-selection--single {
            height: 35px !important;
        }

        .select2-selection__arrow {
            height: 34px !important;
        }
    </style>
}

<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Channeling Shedule Details</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="javascript:void(0)">Home</a>
            </li>
            <li class="breadcrumb-item active">Channeling Shedule Details</li>
        </ol>
    </div>

    <div class="col-md-7 col-4 align-self-center">
        <div class="d-flex m-t-10 justify-content-end">
            <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                <div class="spark-chart form-material">
                </div>
                <div class="spark-chart form-material">
                    <button type="button" id="btnCreateShift" class="btn waves-effect waves-light btn-block btn-info" onclick="ShowShiftDetails()"><i class="mdi mdi-account-plus"></i>&nbsp;Add New Channeling</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="modal-body">
                <form asp-action="FilterForm" method="post" id="filterFrm">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="companyName">Start Date</label>
                                <input type="text" id="date-format-start" asp-format="{0:yyyy-MM-dd}" class="form-control" asp-for="StartTime" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-3">
@*                             <div class="form-group">
                                <label for="companyName">End Date</label>
                                <input type="text" id="date-format-end" asp-format="{0:yyyy-MM-dd}" class="form-control" asp-for="EndTime" placeholder="">
                            </div> *@
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="companyName">Doctor Speciality</label>
                                <select class="form-control ddlSearchList" id="drpDrSpeciality" asp-for="SpecialistId">
                                    <option value="-2">All</option>
                                    @if (Model != null)
                                    {
                                        @foreach (var item in Model.Specialists)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="companyName">Channeling Schedule Status</label>
                                <select class="form-control ddlSearchList" id="dropPaidStatus" asp-for="channellingScheduleStatus">
                                    <option value="6" selected>All</option>
                                    <option value="0">NOT ACTIVE</option>
                                    <option value="1">ACTIVE</option>
                                    <option value="2">SESSION START</option>
                                    <option value="3">SESSION END</option>
                                    <option value="4">SESSION CANCEL</option>
                                    <option value="5">PENDING</option>
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer d-flex justify-content-between">
                        <div></div>
                        <div>
                            <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal" onclick="handleClear()">&nbsp;Clear</button>
                            <button type="submit" class="btn waves-effect btn-primary"><i class="fa fa-save"></i>&nbsp;Filter</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Channeling Shedule Details</h4>
                <div class="row"></div>
                <div class="table-responsive">
                    <table id="basic-2" class="display">
                        <thead>
                        <tr>
                            <th>Id</th>
                                <th>Schedule Time</th>
                            <th>Consultant Name</th>
                            <th>Speciality</th>
                            <th>Room Number</th>
                            <th>Active Appointment</th>
                            <th>Paid Appointment</th>
                            <th>Total Paid</th>
                            <th>Total Refund</th>
@*                             <th>Doctor Fee</th>
                            <th>Hospital Fee</th> *@
                            <th>Total Amount</th>
                            <th>Status</th>
                            <th>View</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody id="tblBodyPayments">
                        @if (Model != null)
                        {
                            @foreach (var channelingShedule in Model.ChannelingScheduleList)
                            {
                                <tr>
                                    <td>@channelingShedule.Id</td>
                                    <td>@channelingShedule.DateTime</td>
                                    <td>@channelingShedule.Consultant?.Name</td>
                                    <td>@channelingShedule.Consultant?.Specialist.Name</td>
                                    <td>@channelingShedule.Room?.Name</td>
                                    <td>@channelingShedule.booked / @channelingShedule.NoOfAppointment</td>
                                    <td>@channelingShedule.paid / @channelingShedule.allBookedAppoinment</td>
                                    <td>@(channelingShedule.totalPaidAmount != null ? channelingShedule.totalPaidAmount.Value.ToString("0.00") : "0.00")</td>
                                    <td>@(channelingShedule.totalRefund != null ? channelingShedule.totalRefund.Value.ToString("0.00") : "0.00")</td>
@*                                     <td>@channelingShedule.ConsultantFee</td>
                                    <td>@channelingShedule.HospitalFee</td> *@
                                        <td>@((channelingShedule.totalAmount - (channelingShedule.totalRefund != null ? channelingShedule.totalRefund.Value : 0)).ToString("0.00"))</td>
                                    <td>@channelingShedule.scheduleStatus</td>
                                    <td>
                                        <button id='btnEdit' class='btn waves-effect waves-light btn-xs btn-info' onclick=ShowShiftDetails(@channelingShedule.Id);>
                                            <i class='fa fa-eye'></i>
                                        </button> &nbsp;
                                    </td>
                                    <td>
                                        @using (Html.BeginForm("DeleteChannelingShedule", "ChannelingShedule", new { Id = @channelingShedule.Id }, FormMethod.Post))
                                        {
                                            <button id='link_copy' class='btn waves-effect waves-light btn-xs btn-danger'>
                                                <i class='fa fa-trash'></i>
                                            </button>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="AddShiftModel" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg" id="AddEditContainerModel">
    </div>
</div>


@section scripts {
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>

        $(document).ready(function () {
            $('#drpDrSpeciality').select2({
                width: '100%',
                height: "auto !important",
                dropdownCssClass: "bigdrop",
                dropdownParent: $('#filterFrm'),
                placeholder: 'Select one',
                allowClear: false,
            });


        });

        function handleClear() {
            window.location.href = '/ChannelingShedule/';
        }

        function ShowShiftDetails(id) {

            console.log(id);

            $.ajax({
                type: "POST",
                url: "/ChannelingShedule/CreateChannelShedule/" + id,
                data: { id: 101 },
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $("#AddEditContainerModel").html(response);
                    $("#AddShiftModel").modal('show');

                    $("#consultants").select2({
                        width: '100%',
                        height: "auto !important",
                        dropdownCssClass: "bigdrop",
                        dropdownParent: $('#AddShiftModel')
                    });
                },


                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }




            });

        }

        $('body').on('focus', "#date-format", function () {

            $('#date-format').bootstrapMaterialDatePicker({
                time: true,
                format: "YYYY-MM-DD HH:mm"
            });
            
            /*$('#previous-date-format').bootstrapMaterialDatePicker({
                time: true,
                format: "YYYY-MM-DD HH:mm"
            });*/

        });

        $('body').on('focus', "#date-format", function () {

            $('#date-format').bootstrapMaterialDatePicker({
                time: true,
                format: "YYYY-MM-DD hh:mm"
            });
            
            /*$('#previous-date-format').bootstrapMaterialDatePicker({
                time: true,
                format: "YYYY-MM-DD hh:mm"
            });*/
        });

        $('body').on('focus', "#date-format-start", function () {

            $('#date-format-start').bootstrapMaterialDatePicker({
                time: false,
                format: "YYYY-MM-DD"
            });

        });
        $('body').on('focus', "#date-format-end", function () {

            $('#date-format-end').bootstrapMaterialDatePicker({
                time: false,
                format: "YYYY-MM-DD"
            });

        });

    </script>
}